{% extends "emails/_mail-layout.twig" %}

{% block content %}
	<p>Ahoj!</p>
	<p>Přihlašuješ se do registrace jako účastník na akci {{ eventName }}.</p>
	<a class="btn btn-small" href="{{ baseHostScheme }}{{ link }}">Přihlásit!</a>
	<p>Pokud ti tlačítko nefunguje nebo se ti nezobrazuje, zkus následující odkaz zkopírovat do adresního řádku prohlížeče: <a
				href="{{ baseHostScheme }}{{ link }}">{{ baseHostScheme }}{{ link }}</a></p>
	<p>Více informací najdeš na <a href="https://korbo.skauting.cz/">https://korbo.skauting.cz/</a></p>
{% endblock %}