{% extends "emails/_mail-layout.twig" %}

{% block content %}
	<p>Ahoj,</p>
	<p>právě jsme schválili
		tvojí registraci na <b>{{ eventName }}</b>! K plnohodnotné registraci ti chybí už jen jediný krok, a to do <b>pěti pracovních dní</b> zaplatit účastnický poplatek.</p>

	<h3><u>Platební informace</u></h3>
	<h3>Číslo účtu: {{ accountNumber }}</h3>
	<h3>Částka: minimálně {{ price }} {{ currency }}</h3>
	<h3>Variabilní symbol: {{ variableSymbol }}</h3>
	<h3>Poznámka: Korbo 2018 {{ istFullName }}
	</h3>

	<p>V případě jakýchkoliv nejasností se můžeš podívat do registrace: <a href="https://korbo.skauting.cz/registrace">https://korbo.skauting.cz/registrace</a><span
				class="noselect">, </span>na web <a href="https://korbo.skauting.cz">https://korbo.skauting.cz</a> nebo nám napiš na mail <a href="mailto:korbo@skaut.cz">korbo@skaut.cz</a><span class="noselect">.</span></p>

	<p>Děkujeme, <br/>
		Korbo tým</p>
{% endblock %}