{% extends "emails/_mail-layout.twig" %}

{% block content %}
	<p>Ahoj,</p>
	<p>právě jsme schválili
		{% if role == 'ist' %}tvojí {% endif %}
		registraci
		{% if role == 'patrol-leader' %}tvojí patroly {{ patrolName }}{% endif %}
		na akci <b>{{ eventName }}</b>! Jako další krok potřebujeme, abys
		{% if role == 'patrol-leader' %}za patrolu {% endif %}
		zaplatil{% if gender == 'žena' %}a{% endif %}
		účastnický poplatek.</p>

	<h3><u>Platební informace</u></h3>
	<h3>Číslo účtu: {{ accountNumber }}</h3>
	<h3>Částka: {{ price }} {{ currency }}</h3>
	<h3>Variabilní symbol: {{ variableSymbol }}</h3>
	<h3>Poznámka: CEJ18
		{% if role == 'patrol-leader' %}{{ patrolName }}{% endif %}
		{% if role == 'ist' %}{{ istFullName }}{% endif %}
	</h3>

	<p>
		{% if role == 'patrol-leader' %}Peníze pošli za celou patrolu dohromady. {% endif %}
		<b>Zaplať prosím do 16.2.</b> -
		po tomto termínu nabídneme tvoje místo v kontingentu dalšímu zájemci.</p>

	<p>V případě jakýchkoliv nejasností se můžeš podívat do registrace: <a href="https://r.skauting.cz/cej2018">https://r.skauting.cz/cej2018</a><span
				class="noselect">, </span>na web <a href="https://cej2018.skaut.cz/">https://cej2018.skaut.cz</a> nebo
		nám napiš na mail <a href="mailto:cej2018@skaut.cz">cej2018@skaut.cz</a><span class="noselect">.</span></p>

	<p>S pozdravem<br/>
		registrační tým českého kontingentu CEJ 2018</p>
{% endblock %}