<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% trans %}email.layout.registration{% endtrans %} {{ event.getReadableName }}</title>
    <style>
        .btn {
            background: #0b2a34;
            color: white;
            border-radius: 6px;
            text-decoration: none;
            font-size: 25px;
            display: block;
            text-align: center;
            padding: 15px;
            border: none;
        }

        .btn-small {
            display: inline-block;

        }

        .noselect {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
        }
    </style>
</head>
<body>
<main role="main" class="container">
    <p>{% trans %}email.layout.welcome{% endtrans %}</p>

    {% block content %}{% endblock %}

    <p>
        {% trans %}email.layout.yourRegistration{% endtrans %} 
        <a href="{{ baseHostScheme }}{{ fullRegistrationLink }}">{{ baseHostScheme }}{{ fullRegistrationLink }}</a><span class="noselect">.</span>
        {% trans %}email.layout.ifQuestion{% endtrans %}
        <a href="{{ event.webUrl }}">{{ event.webUrl }}</a>
        {% trans %}email.layout.sendEmail{% endtrans %}
        <a href="mailto:{{ event.getContactEmail }}">{{ event.getContactEmail }}</a><span class="noselect">.</span>
    </p>

    <p>{% trans %}email.layout.farewell{% endtrans %}<br/>
        {{ event.getReadableName }}</p>
</main>
<footer>
    <a href="{{ event.webUrl }}" class="footer-item" target="_blank">
        {# TODO check if image exists, because if not, mail will not be sent #}<img src="{{ email.image( event.logoUrl ) }}" alt="logo of {{ event.readableName }}">
    </a>
</footer>
</body>
</html>
