{% extends "emails/_mail-layout.twig" %}

{% block content %}
    <div class="text-center">
        <p>{{ 'email.approved-without-payment.approved' | trans }} {{ event.readableName }}!</p>
        <p>{{ 'email.approved-without-payment.noPayment' | trans }}</p>

        {% if event.getEventType.showParticipantInfoInMail %}
            <p>{{ 'email.payment-successful.qrInfo' | trans }}</p>
            <img src="cid:qr_info" alt="QR participant info"/>
        {% endif %}

        <p>{{ 'email.approved-without-payment.enjoy' | trans }}</p>
    </div>
{% endblock %}
