{% extends "emails/_mail-layout.twig" %}

{% block content %}
    <p>{{ 'email.cancel-payment.denied' | trans({'%event.getReadableName%': event.getReadableName}) }}
    {{ 'email.cancel-payment.reason' | trans }}: {{ reason }}.</p>
    <p>
        <b>{{ 'email.cancel-payment.dontPay' | trans }} </b>
        {{ 'email.cancel-payment.registerAgain' | trans }}
        {{ 'email.cancel-payment.newPayment' | trans }}
    </p>
{% endblock %}
