{% extends "emails/_mail-layout.twig" %}

{% block content %}
    <p>{{ 'email.denial.denied' | trans }} {{ event.readableName }}{{ 'email.denial.requirements' | transGendered(genderSuffix) }}</p>

    <p>{{ 'email.denial.reason' | trans }} <b>{{ reason }}</b>{{ 'email.denial.editRegistration' | trans }}</p>
{% endblock %}
