{% extends "emails/_mail-layout.twig" %}

{% block content %}
    <p>{{ 'email.login-token.logging' | trans }}{{ event.readableName }}.</p>
    <a class="btn btn-small" href="{{ baseHostScheme }}{{ link }}">
        {{ 'email.login-token.logIn' | trans }}
    </a>
    <p>{{ 'email.login-token.buttonNotWorking' | trans }}
        <a href="{{ baseHostScheme }}{{ link }}">
            {{ baseHostScheme }}{{ link }}
        </a>
    </p>
{% endblock %}
