{% extends "emails/_mail-layout.twig" %}

{% block content %}
    <p>
        {{ 'email.payment-info.approved' | trans }} <b>{{ event.readableName }}</b>!
        {{ 'email.payment-info.finish' | trans }} <b>{{ payment.getRemainingDays }} {{ 'email.payment-info.days' | trans }} </b> ({{ payment.due|date('d. m. Y') }}).
    </p>
    <h3><u>{{ 'email.payment-info.paymentDetails' | trans }}</u></h3>
    {% if showIban %}
        <h4>{{ 'email.payment-info.iban' | trans }}: {{ payment.iban }}</h4>
    {% endif %}
    {% if payment.swift %}
        <h4>{{ 'email.payment-info.swift' | trans }}: {{ payment.swift }}</h4>
    {% endif %}
    <h4>{{ 'email.payment-info.accountNumber' | trans }}: {{ payment.accountNumber }}</h4>
    <h4>{{ 'email.payment-info.amount' | trans }}: {{ payment.price }} {{ payment.currency }}</h4>
    <h4>{{ 'email.payment-info.variableSymbol' | trans }}: {{ payment.getVariableSymbol }}</h4>
    {% if payment.constantSymbol %}
        <h4>{{ 'email.payment-info.constantSymbol' | trans }}: {{ payment.constantSymbol }}</h4>
    {% endif %}
    <h4>{{ 'email.payment-info.paymentNote' | trans }}: {{ payment.note }}</h4>
    {% if showPaymentQrCode %}
        <h3><u>{{ 'email.payment-info.qrCode' | trans }}</u></h3>
        <img src="cid:qr_payment" alt="QR payment code"/>
    {% endif %}
{% endblock %}
