{% extends "_layout.twig" %}

{% block content %}
    <div class="two-cards">
        <div class="card">
            <h2>{{ 'chooseRole.chooseRole' | trans }}</h2>
            {% if event.allowPatrols %}
                <form method="POST" action="{{ url_for('setRole', {'eventSlug': event.slug}) }}">
                    <input type="hidden" name="role" value="pl">
                    <input type="submit" class="btn form-wide" value="{{ 'chooseRole.registerAsPl' | trans }}">
                </form>
                <br/>
            {% endif %}
            {% if event.allowTroops %}
                <form method="POST" action="{{ url_for('setRole', {'eventSlug': event.slug}) }}">
                    <input type="hidden" name="role" value="tl">
                    <input type="submit" class="btn form-wide" value="{{ 'chooseRole.registerAsTl' | trans }}">
                </form>
                <br/>
                <form method="POST" action="{{ url_for('setRole', {'eventSlug': event.slug}) }}">
                    <input type="hidden" name="role" value="tp">
                    <input type="submit" class="btn form-wide" value="{{ 'chooseRole.registerAsTp' | trans }}">
                </form>
                <br/>
            {% endif %}
            {% if event.allowIsts %}
                <form method="POST" action="{{ url_for('setRole', {'eventSlug': event.slug}) }}">
                    <input type="hidden" name="role" value="ist">
                    <input type="submit" class="btn form-wide"
                           value="{{ 'chooseRole.registerAsIst' | trans }}">
                </form>
                <br/>
            {% endif %}
            {% if event.allowGuests %}
                <form method="POST" action="{{ url_for('setRole', {'eventSlug': event.slug}) }}">
                    <input type="hidden" name="role" value="guest">
                    <input type="submit" class="btn form-wide"
                           value="{{ 'chooseRole.registerAsGuest' | trans }}">
                </form>
                <br/>
            {% endif %}
            {% if otAccessGranted %}
                <form method="POST" action="{{ url_for('setRole', {'eventSlug': event.slug}) }}">
                    <input type="hidden" name="role" value="ot">
                    <input type="submit" class="btn form-wide"
                           value="{{ 'chooseRole.registerAsOt' | trans }}">
                </form>
                <br/>
            {% endif %}
        </div>

        <div class="card">
            <h2>{{ 'chooseRole.rolesAdvice' | trans }}</h2>
            {% if event.allowPatrols %}
                <p><b>{{ 'role.pl' | trans }}</b> {{ 'chooseRole.advicePlText' | trans }}</p>
            {% endif %}
            {% if event.allowTroops %}
                <p><b>{{ 'role.tl' | trans }}</b> {{ 'chooseRole.adviceTlText' | trans }}</p>
                <p><b>{{ 'role.tp' | trans }}</b> {{ 'chooseRole.adviceTpText' | trans }}</p>
            {% endif %}
            {% if event.allowIsts %}
                <p><b>{{ 'role.ist' | trans }}</b> {{ 'chooseRole.adviceIstText' | trans }}</p>
            {% endif %}
            {% if event.allowGuests %}
                <p><b>{{ 'role.guest' | trans }}</b> {{ 'chooseRole.adviceGuestText' | trans }}</p>
            {% endif %}
            {% if otAccessGranted %}
                <p><b>{{ 'role.ot' | trans }}</b> {{ 'chooseRole.adviceOtText' | trans }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
