{% extends "_layout.twig" %}

{% block content %}
    {% set bothLogins = event.eventType.isLoginEmailAllowed and event.eventType.isLoginSkautisAllowed %}
    <div class="two-cards">
        <div class="card">
            <h2>{{ 'login.registrationFor' | trans }}{{ event.readableName }}</h2>
            {% if event.eventType.isLoginSkautisAllowed %}
                <div class="login-box">
                    <a href="{{ skautisLoginUri }}" class="btn login-box-item">
                        {{ 'login.skautis' | trans }}
                    </a>
                    {% if bothLogins and lastLogin == 'skautis' %}
                        <p class="text-rotated">
                            {{ 'login.lastUsedLogin' | trans }}
                        </p>
                    {% endif %}
                </div>
            {% endif %}
            {% if bothLogins %}
                <p class="text-inside-line">{{ 'login.or' | trans }}</p>
            {% endif %}
            {% if event.eventType.isLoginEmailAllowed %}
            <div class="login-box">
                <form
                        action="{{ url_for('sendLoginEmail', {'eventSlug': event.slug}) }}"
                        method="POST"
                        class="login-box-item"
                >
                    {% if otToken is defined and otToken is not null %}
                        <input type="hidden" name="ot_token" value="{{ otToken }}">
                    {% endif %}
                    <div class="form-group">
                        <label for="form-email">{{ 'login.email' | trans }}:</label>
                        <input
                            class="form-control form-wide"
                            type="email"
                            name="email"
                            id="form-email"
                            value="{{ prefillEmail|default('') }}"
                            required
                        />
                    </div>
                    <input
                            type="submit"
                            value="{{ 'login.sendMeEmail' | trans }}"
                            class="btn form-wide"
                    />
                </form>
                {% if bothLogins and lastLogin == 'email' %}
                    <p class="text-rotated">
                        {{ 'login.lastUsedLogin' | trans }}
                    </p>
                {% endif %}
            </div>
            {% endif %}
            <br/>
        </div>
        <div class="card text-muted">
            <h2>{{ 'login.howItWorks' | trans }}</h2>
            <ol class="text-left">
                <li>{{ 'login.submitEmail' | trans }}</li>
                <li>{{ 'login.followButton' | trans }}</li>
                <li>{{ 'login.fillDetails' | trans }}</li>
                <li>{{ 'login.sentForApproval' | trans }}</li>
                <li>{{ 'login.waitForApproval' | trans }}</li>
                <li>{{ 'login.pay' | trans }}</li>
            </ol>
            <a href="{{ url_for('loginHelp', {'eventSlug': event.slug}) }}"
               class="btn btn-grey btn-small">{{ 'login.more' | trans }}</a>
        </div>
    </div>
{% endblock %}
