<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Registrace CEJ 2018 - kissj</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link
			rel="stylesheet"
			href="{{ base_url() }}/public/styles.css">
</head>
<body>
<div class="wrapper">
<h1 class="text-center">KISSJ - CEJ 2018</h1>
<div class="user">
	{% if user is not null %}
		{{ user.email }}
		<a class="" href="{{ path_for('logout') }}">Odhlásit se</a>
		{% set userStatus = userRole.status %}
	{% else %}
		{% set userStatus = "unregistred" %}
	{% endif %}
	<br/>
</div>
<ul class="progressbar">
	<li class="progressbar-item {% if userStatus == 'unregistred' %}is-active{% endif %}">Registrace</li>
	<li class="progressbar-item {% if userStatus == 'open' %}is-active{% endif %}">Vyplnění údajů</li>
	<li class="progressbar-item {% if userStatus == 'closed' %}is-active{% endif %}">Uzavřená přihláška</li>
	<li class="progressbar-item {% if userStatus == 'approved' %}is-active{% endif %}">Schválená přihlášky</li>
	<li class="progressbar-item {% if userStatus == 'paid' %}is-active{% endif %}">Zaplaceno!</li>
</ul>
<div class="flash-wrapper">
	{% for flashMessage in flashMessages.dumpMessagesIntoArray() %}
		<div class="alert alert-{{ flashMessage['type'] }}">
			{{ flashMessage['message'] }}
		</div>
	{% endfor %}
</div>
<main role="main" class="container">
	{% block content %}{% endblock %}
</main>
</div>
</body>
</html>
