{% extends "_layout.twig" %}

{% block content %}
	<div class="card text-left open-theme">
		<h2>Upravit údaje Patrol Leadera</h2>
		<form method="POST" action="{{ path_for('pl-postDetails') }}">
			<label class="form-group form-group-inline">Křestní jméno: <input class="form-control" type="text" name="firstName" value="{{ plInfo.getFirstName }}" required="required"></label>
			<label class="form-group form-group-inline">Příjmení: <input class="form-control" type="text" name="lastName" value="{{ plInfo.getLastName }}" required="required"></label>
			<label class="form-group form-group-inline">Gender:
				<select class="form-control" name="gender" required="required">
					<option value="muž" {% if plInfo.getGender == 'muž' %}selected="selected"{% endif %}>Muž</option>
					<option value="žena" {% if plInfo.getGender == 'žena' %}selected="selected"{% endif %}>Žena</option>
					<option value="jiné" {% if plInfo.getGender == 'jiné' %}selected="selected"{% endif %}>Jiné</option>
				</select>
			</label>
			<label class="form-group form-group-inline">Datum narození: <input class="form-control" type="date" name="birthDate" value="{{ plInfo.getBirthDate.format('Y-m-d') }}" required="required"></label>
			<label class="form-group form-group-inline">Místo narození: <input class="form-control" type="text" name="birthPlace" value="{{ plInfo.getBirthPlace }}" required="required"></label>
			<label class="form-group form-group-inline">Trvalá adresa: <input class="form-control" type="text" name="permanentResidence" value="{{ plInfo.getPermanentResidence }}" required="required"></label>
			<label class="form-group form-group-inline">Země: <input class="form-control" type="text" name="country" placeholder="země původu" value="{% if plInfo.getCountry is empty %}Česká republika{% else %}{{ plInfo.getCountry }}{% endif %}" required="required"></label>
			<label class="form-group form-group-inline">Číslo pasu nebo občanky: <input class="form-control" type="text" name="cardPassportNumber" value="{{ plInfo.getCardPassportNumber }}"></label>
			<label class="form-group form-group-inline">Dieta: <input class="form-control" type="text" name="foodPreferences" placeholder="vegetarián, pouze kosher, bez lepku, popřípadě jiné omezení v jídle..." value="{{ plInfo.getFoodPreferences }}"></label>
			<label class="form-group form-group-inline">Alergie: <input class="form-control" type="text" name="allergies" value="{{ plInfo.getAllergies }}"></label>
			<label class="form-group form-group-inline">Telefonní kontakt: <input class="form-control" type="text" name="telephoneNumber" placeholder="pouze čísla s případným '+' na začátku" pattern="^\+?[0-9 ]+$" value="{{ plInfo.getTelephoneNumber }}" required="required"></label>
			<label class="form-group form-group-inline">Email: <input class="form-control" type="email" name="email" value="{% if plInfo.getEmail is empty %}{{ user.email }}{% else %}{{ plInfo.getEmail }}{% endif %}" required="required"></label>
			<label class="form-group form-group-inline">Skautská jednotka: <input class="form-control" type="text" name="scoutUnit" value="{{ plInfo.getScoutUnit }}" required="required"></label>
			<label class="form-group form-group-inline">Poznámky: <input class="form-control" type="text" name="notes" placeholder="cokoliv dalšího?" value="{{ plInfo.getNotes }}"></label>
			<br/>
			<label class="form-group form-group-inline">Název patroly: <input class="form-control" type="text" name="patrolName" value="{{ plInfo.getPatrolName }}" required="required"></label>

			<div class="text-center">
				<input class="btn btn-small" type="submit" value="Uložit">
				<a class="btn btn-small btn-grey" href="{{ path_for('pl-dashboard') }}">Zpět</a>
			</div>
		</form>
	</div>
{% endblock %}