{% extends "_layout.twig" %}

{% block content %}
	<div class="text-center">
		<h2>Přidat účastníka</h2>
		<form method="POST" action="{{ path_for('p-postDetails', {'participantId': pDetails.getId}) }}">
			Křestní: <input type="text" name="firstName" value="{{ pDetails.getFirstName }}"><br/>
			Příjmení: <input type="text" name="lastName" value="{{ pDetails.getLastName }}"><br/>
			Alergie: <input type="text" name="allergies" value="{{ pDetails.getAllergies }}"><br/>
			Datum narození: <input type="date" name="birthDate" value="{{ pDetails.getBirthDate.format('Y-m-d') }}"><br/>
			Místo narození: <input type="text" name="birthPlace" value="{{ pDetails.getBirthPlace }}"><br/>
			Země: <input type="text" name="country" value="{{ pDetails.getCountry }}"><br/>
			Gender: <input type="text" name="gender" value="{{ pDetails.getGender }}"><br/>
			Trvalá adresa: <input type="text" name="permanentResidence" value="{{ pDetails.getPermanentResidence }}"><br/>
			Skautská jednotka: <input type="text" name="scoutUnit" value="{{ pDetails.getScoutUnit }}"><br/>
			Telefoní kontakt (pouze čísta s možným + na začátku): <input type="text" name="telephoneNumber"
																		 value="{{ pDetails.getTelephoneNumber }}"><br/>
			Email: <input type="email" name="email" value="{{ pDetails.getEmail }}"><br/>
			Dieta: <input type="text" name="foodPreferences" value="{{ pDetails.getFoodPreferences }}"><br/>
			Číslo pasu/OP: <input type="text" name="cardPassportNumber" value="{{ pDetails.getCardPassportNumber }}"><br/>
			Poznámky: <input type="text" name="notes" value="{{ pDetails.getNotes }}"><br/>

			<input class="btn btn-primary" type="submit" value="Uložit">
		</form>
		<a href="{{ path_for('pl-dashboard') }}">Zpět na dashboard</a>
	</div>
{% endblock %}