{% extends "_layout.twig" %}

{% block content %}
	<div class="text-center">
		<h2>Dashboard IST</h2>
		ID: {{ user.id }}<br/>
		Přihlášený s emailem: {{ user.email }}<br/>
		<a class="btn btn-primary" href="{{ path_for('logout') }}">Odhlásit se</a><br/>
		<h2>PL údaje o sobě</h2>
		<a class="btn btn-primary" href="{{ path_for('ist-changeDetails') }}">Změnit údaje o sobě</a><br/>
		Křestní jméno: {{ istDetails.getFirstName }}<br/>
		Příjmení: {{ istDetails.getLastName }}<br/>
		Alergie: {{ istDetails.getAllergies }}<br/>
		Datum narození: {{ istDetails.getBirthDate.format('Y-m-d') }}<br/>
		Místo narození: {{ istDetails.getBirthPlace }}<br/>
		Země: {{ istDetails.getCountry }}<br/>
		Gender: {{ istDetails.getGender }}<br/>
		Trvalá adresa: {{ istDetails.getPermanentResidence }}<br/>
		Skautská jednotka: {{ istDetails.getScoutUnit }}<br/>
		Telefoní kontakt: {{ istDetails.getTelephoneNumber }}<br/>
		Email: {{ istDetails.getEmail }}<br/>
		Dieta: {{ istDetails.getFoodPreferences }}<br/>
		Číslo pasu/občanky: {{ istDetails.getCardPassportNumber }}<br/>
		Poznámky: {{ istDetails.getNotes }}<br/>
		Preference práce: {{ istDetails.getWorkPreferences }}<br/>
		Skills: {{ istDetails.getSkills }}<br/>
		Jazyky, kterými se domluvím: {{ istDetails.getLanguages }}<br/>
		Čas příjezdu: {{ istDetails.getArrivalDate.format('Y-m-d') }}<br/>
		Čas odjezdu: {{ istDetails.getLeavingDate.format('Y-m-d') }}<br/>
		Pokud přijedu autem, jeho poznávací značka: {{ istDetails.getCarRegistrationPlate }}<br/>
		<br/>
		<br/>
		<a class="btn btn-danger" href="{{ path_for('ist-closeRegistration') }}">Uzavřít registraci</a>
	</div>
{% endblock %}