{% extends "_layout.twig" %}

{% block content %}
	<div class="text-center">
		<h2>Dashboard PL</h2>
		ID: {{ user.id }}<br/>
		Přihlášený s emailem: {{ user.email }}<br/>
		<a class="btn btn-primary" href="{{ path_for('logout') }}">Odhlásit se</a><br/>
		<br/>
		<br/>
		<h2>PL údaje o sobě</h2>
		<a class="btn btn-primary" href="{{ path_for('pl-changeDetails') }}">Změnit údaje o sobě</a><br/>
		Název patroly: {{ plDetails.patrolName }}<br/>
		Křestní jméno: {{ plDetails.firstName }}<br/>
		Příjmení: {{ plDetails.lastName }}<br/>
		Alergie: {{ plDetails.allergies }}<br/>
		Datum narození: {{ plDetails.birthDate.format('Y-m-d') }}<br/>
		Místo narození: {{ plDetails.birthPlace }}<br/>
		Země: {{ plDetails.country }}<br/>
		Gender: {{ plDetails.gender }}<br/>
		Trvalá adresa: {{ plDetails.permanentResidence }}<br/>
		Skautská jednotka: {{ plDetails.scoutUnit }}<br/>
		Telefoní kontakt: {{ plDetails.telephoneNumber }}<br/>
		Email: {{ plDetails.email }}<br/>
		Dieta: {{ plDetails.foodPreferences }}<br/>
		Číslo pasu/OP: {{ plDetails.cardPassportNumber }}<br/>
		Poznámky: {{ plDetails.notes }}<br/>
		<br/>
		<br/>
		<h2>Seznam účastníků</h2>
		<a class="btn btn-primary" href="{{ path_for('pl-addParticipant') }}">Přidat účastníka</a><br/>
		{% set count = 1 %}
		{% for participantDetails in allPDetails %}
			{# why here must be full .getFirstName() instead of .firstName like elsewhere? #}
			<p>{{ count }}. účastník {{ participantDetails.getFirstName() }} {{ participantDetails.getLastName() }}
			<a class="btn btn-primary" href="{{ path_for('p-changeDetails',{'participantId': participantDetails.id}) }}">Edit</a>
			<a class="btn btn-danger" href="{{ path_for('p-delete',{'participantId': participantDetails.id}) }}">Delete</a>
			</p>
			{% set count = count+1 %}
		{% endfor %}
		<br/>
		<br/>
		<a class="btn btn-danger" href="{{ path_for('pl-closeRegistration') }}">Uzavřít registraci</a>
	</div>
{% endblock %}