{% extends "_layout.twig" %}

{% block content %}
	<div class="text-center">
		<h2>Dashboard IST</h2>
		ID: {{ user.id }}<br/>
		Přihlášený s emailem: {{ user.email }}<br/>
		<a class="btn btn-primary" href="{{ path_for('logout') }}">Odhlásit se</a><br/>
		<h2>IST údaje o sobě</h2>
		<div class="help">
			<h4>
				{{ userCustomHelp }}
			</h4>
		</div>
		{% if userStatus == 'aprooved' %}
			<div class="paymentInfo">
				<h4>Částka: {{ totalPrice }}</h4>
				<h4>Číslo účtu: {{ bankAccount }}</h4>
				<h4>Variabilní symbol: {{ status.variableSymbol }}</h4>
			</div>
		{% endif %}
		{% if userStatus == 'open' %}
			<a class="btn btn-primary" href="{{ path_for('ist-changeDetails') }}">Změnit údaje o sobě</a><br/>
		{% endif %}
		Křestní jméno: {{ istDetails.firstName }}<br/>
		Příjmení: {{ istDetails.lastName }}<br/>
		Alergie: {{ istDetails.allergies }}<br/>
		Datum narození: {{ istDetails.birthDate.format('Y-m-d') }}<br/>
		Místo narození: {{ istDetails.birthPlace }}<br/>
		Země: {{ istDetails.country }}<br/>
		Gender: {{ istDetails.gender }}<br/>
		Trvalá adresa: {{ istDetails.permanentResidence }}<br/>
		Skautská jednotka: {{ istDetails.scoutUnit }}<br/>
		Telefoní kontakt: {{ istDetails.telephoneNumber }}<br/>
		Email: {{ istDetails.email }}<br/>
		Dieta: {{ istDetails.foodPreferences }}<br/>
		Číslo pasu/občanky: {{ istDetails.cardPassportNumber }}<br/>
		Poznámky: {{ istDetails.notes }}<br/>
		Preference práce: {{ istDetails.workPreferences }}<br/>
		Skills: {{ istDetails.skills }}<br/>
		Jazyky, kterými se domluvím: {{ istDetails.languages }}<br/>
		Čas příjezdu: {{ istDetails.arrivalDate.format('Y-m-d') }}<br/>
		Čas odjezdu: {{ istDetails.leavingDate.format('Y-m-d') }}<br/>
		Pokud přijedu autem, jeho poznávací značka: {{ istDetails.carRegistrationPlate }}<br/>
		<br/>
		<br/>
		{% if userStatus == 'open' %}
			<a class="btn btn-danger" href="{{ path_for('ist-closeRegistration') }}">Uzavřít registraci</a>
		{% endif %}
	</div>
{% endblock %}