{% extends "_layout.twig" %}

{% block content %}
	<div class="card {{ userStatus }}-theme">
		<h2>Účastník - přehled údajů</h2>
		<h4>
			{{ userCustomHelp }}
		</h4>
		{% if userStatus == 'approved' %}
			<div class="paymentInfo">
				<h2>Platební údaje</h2>
				Číslo účtu: {{ payment.getAccountNumber }}<br/>
				Částka: {{ payment.getPrice }} Kč<br/>
				Variabilní symbol: {{ payment.getVariableSymbol }}<br/>
				Poznámka: Korbo 2018 {{ istDetails.getFirstName }} {{ istDetails.getLastName }}<br/>
				<br/>
			</div>
		{% endif %}

		<div>
			<h2>Osobní údaje</h2>
			{% if userStatus == 'open' %}
				<a class="btn btn-small" href="{{ path_for('ist-changeDetails') }}">Změnit údaje o sobě</a><br/><br/>
			{% endif %}
			<div class="text-center">
				Křestní jméno: {{ istDetails.getFirstName }}<br/>
				Příjmení: {{ istDetails.getLastName }}<br/>
				Přezdívka: {{ istDetails.getNickname }}<br/>
				Gender: {{ istDetails.getGender }}<br/>
				Datum narození: {{ istDetails.getBirthDate.format('d. m. Y') }}<br/>
				Adresa: {{ istDetails.getPermanentResidence }}<br/>
				Email: {{ istDetails.getEmail }}<br/>
				Jméno a přijmení zákonného zástupce (pouze do 18 let): {{ istDetails.getLegalRepresestative }}<br/>
				Šátek: {{ istDetails.getScarf }}<br/>
				Poznámky: {{ istDetails.getNotes }}<br/>
				<br/>
			</div>
		</div>

		{% if userStatus == 'open' %}
			<a class="btn btn-small" href="{{ path_for('ist-closeRegistration') }}">Uzavřít registraci</a>
		{% endif %}
	</div>
{% endblock %}