{% extends "_layout.twig" %}

{% block content %}
	<div class="text-center">
		<h2>Změna informací IST s ID {{ plInfo.id }}</h2>
		<form method="POST" action="{{ path_for('ist-postDetails') }}">
			Křestní: <input type="text" name="firstName" value="{{ istDetails.firstName }}"><br/>
			Příjmení: <input type="text" name="lastName" value="{{ istDetails.lastName }}"><br/>
			Alergie: <input type="text" name="allergies" value="{{ istDetails.allergies }}"><br/>
			Datum narození: <input type="date" name="birthDate" value="{{ istDetails.birthDate.format('Y-m-d') }}"><br/>
			Místo narození: <input type="text" name="birthPlace" value="{{ istDetails.birthPlace }}"><br/>
			Země: <input type="text" name="country" value="{{ istDetails.country }}"><br/>
			Gender: <input type="text" name="gender" value="{{ istDetails.gender }}"><br/>
			Trvalá adresa: <input type="text" name="permanentResidence" value="{{ istDetails.permanentResidence }}"><br/>
			Skautská jednotka: <input type="text" name="scoutUnit" value="{{ istDetails.scoutUnit }}"><br/>
			Telefoní kontakt (pouze čísla s možným + na začátku): <input type="text" name="telephoneNumber"
																		 value="{{ istDetails.telephoneNumber }}"><br/>
			Email: <input type="email" name="email" value="{{ istDetails.email }}"><br/>
			Dieta: <input type="text" name="foodPreferences" value="{{ istDetails.foodPreferences }}"><br/>
			Číslo pasu/OP: <input type="text" name="cardPassportNumber" value="{{ istDetails.cardPassportNumber }}"><br/>
			Poznámky: <input type="text" name="notes" value="{{ istDetails.notes }}"><br/>
			Preference práce: <input type="text" name="workPreferences" value="{{ istDetails.workPreferences }}"><br/>
			Skills: <input type="text" name="skills" value="{{ istDetails.skills }}"><br/>
			Jazyky, kterými se domluvím: <input type="text" name="languages" value="{{ istDetails.languages }}"><br/>
			čas příjezdu: <input type="date" name="arrivalDate" value="{{ istDetails.arrivalDate.format('Y-m-d') }}"><br/>
			čas odjezdu: <input type="date" name="leavingDate" value="{{ istDetails.leavingDate.format('Y-m-d') }}"><br/>
			Pokud přijedu autem, jeho poznávací značka: <input type="text" name="carRegistrationPlate" value="{{ istDetails.carRegistrationPlate }}"><br/>

			<input type="submit" value="Uložit">
		</form>
		<a href="{{ path_for('ist-dashboard') }}">Zpět na dashboard</a>
	</div>
{% endblock %}