{% extends "_layout.twig" %}

{% block content %}
	<div class="two-cards">
		<div class="card registration-theme">
			<h2>Jseš tu poprvé? Registrace!</h2>
			<a href="{{ path_for('registration', {'role': 'patrol-leader'}) }}" class="btn">Registruj se
				jako<br>
				Patrol Leader!</a><br/><br/>
			<a href="{{ path_for('registration', {'role': 'ist'}) }}" class="btn">Registruj se jako<br>
				International Service Team!</a><br/><br/>
			<a href="{{ path_for('registrationLostSoul') }}" class="btn">Nemám Patrol Leadera a stejně chci jet jako
				účastník!</a><br/><br/>
		</div>

		<div class="card signin-theme">
			<h2>Vracíš se zpět? Přihlášení!</h2>
			<form action="{{ path_for('loginScreenAfterSent') }}" method="post">
				<div class="form-group">
					<label for="form-email">E-mail:</label>
					<input class="form-control" type="email" name="email" id="form-email" required/><br/>
				</div>
				<input type="submit" value="Poslat mail &#13;&#10;pro přihlášení" class="btn btn-primary"/>
			</form>
			<br/>
			<br/>
			<a href="{{ path_for('loginHelp') }}" class="btn btn-grey">Jak funguje přihlášení přes mail?</a>
		</div>
	</div>
{% endblock %}