{% extends "_layout.twig" %}

{% block content %}
	<div class="card signin-theme">
		<h2>Detaily účastníka</h2>
		Křestní jméno: {{ pDetails.getFirstName }}<br/>
		Příjmení: {{ pDetails.getLastName }}<br/>
		Gender: {{ pDetails.getGender }}<br/>
		Datum narození: {{ pDetails.getBirthDate.format('Y-m-d') }}<br/>
		Místo narození: {{ pDetails.getBirthPlace }}<br/>
		Trvalá adresa: {{ pDetails.getPermanentResidence }}<br/>
		Země: {{ pDetails.getCountry }}<br/>
		Číslo pasu/občanky: {{ pDetails.getCardPassportNumber }}<br/>
		Dieta: {{ pDetails.getFoodPreferences }}<br/>
		Alergie: {{ pDetails.getAllergies }}<br/>
		Telefoní kontakt: {{ pDetails.getTelephoneNumber }}<br/>
		Email: {{ pDetails.getEmail }}<br/>
		Skautská jednotka: {{ pDetails.getScoutUnit }}<br/>
		Poznámky: {{ pDetails.getNotes }}<br/>
		<br/>
		<a class="btn btn-grey btn-small" href="{{ path_for('pl-dashboard') }}">Zpět</a>
	</div>
{% endblock %}