{% extends "_layout.twig" %}

{% block content %}
<div class="card">
    <h2>{{ 'skautisImport.title' | trans }}</h2>

    {% if members is empty %}
        <p>{{ 'skautisImport.emptyState' | trans }}</p>
    {% else %}
        <form method="POST" action="{{ url_for('pl-addFromSkautis', {'eventSlug': event.slug}) }}">
            {% for member in members %}
                {% set matchStatus = matches[member.id] ?? null %}
                <label for="member-{{ member.id }}"{% if matchStatus is not null %} class="skautis-member-disabled"{% endif %}>
                    <input type="checkbox"
                           id="member-{{ member.id }}"
                           name="selectedMembers[]"
                           value="{{ member.id }}"
                           {% if matchStatus is not null %}disabled{% endif %}
                           {% if matchStatus == 'added' %}checked{% endif %}>
                    {{ member.fullName }}, {{ member.birthday|date('d. m. Y') }}
                    {% if matchStatus == 'leader' %}
                        <span class="badge">{{ 'skautisImport.badgeLeader' | trans }}</span>
                    {% elseif matchStatus == 'added' %}
                        <span class="badge">{{ 'skautisImport.badgeAdded' | trans }}</span>
                    {% endif %}
                </label><br/>
            {% endfor %}

            <br/>
            <input type="submit" value="{{ 'skautisImport.addSelected' | trans }}" class="btn btn-small">
        </form>
    {% endif %}

    <br/>
    <a href="{{ url_for('dashboard', {'eventSlug': event.slug}) }}" class="btn btn-small btn-grey">
        {{ 'skautisImport.backToDashboard' | trans }}
    </a>
</div>
{% endblock %}
