{% extends "_layout.twig" %}

{% block content %}
<div class="card {{ userStatus }}-theme">{# TODO remove different themes #}
    <h2>
        {{ ('role.' ~ person.role.value)|trans }}
        {% if person is Leader %}{{ person.getPatrolName }}{% endif %}
        -
        {% trans %}dashboard.details{% endtrans %}
    </h2>
    {% include('widgets/userCustomHelp.twig') %}
    
    {% if person is eligibleForShowTieCode %}
        <h2>
            {% if userStatus == 'paid' and  person.role.value == 'tl'%}
                {% trans %}dashboard.pairCode{% endtrans %} - {{ person.tieCode }}
            {% else %}
                {% trans %}dashboard.tieCode{% endtrans %} - {{ person.tieCode }}
            {% endif %}
        </h2>
    {% endif %}
    
    {% if event.eventtype.isReceiptAllowed and userStatus == 'paid' and person.role.value != 'guest' %}
        <a href="{{ url_for('downloadReceipt', {'eventSlug': event.slug}) }}" target="_blank" class="btn">{% trans %}dashboard.downloadReceipt{% endtrans %}</a><br/>
    {% endif %}
</div>

{% include('widgets/deals.twig') with { person: person } %}

<div class="card {{ userStatus }}-theme">
    {% if person is Leader %}
        <div class="card-divide">
            {#  Patrol/Troop Leader #}
            <div>
                <h2>{{ ('role.' ~ person.role.value)|trans }} {{ person.getFullName }}</h2>
                {% if userStatus == 'open' %}
                    <a class="btn btn-small" href="{{ url_for('showDetailsChangeable', {'eventSlug': event.slug}) }}">
                        {% trans %}dashboard.editDetails{% endtrans %}</a><br/><br/>
                {% endif %}
                <div class="text-center">
                    {% include 'widgets/details.twig' with {'person': person} %}
                    <br/>
                </div>
            </div>
            {# Participants #}
            <div>
                <h2>{% trans %}dashboard.listOfParticipants{% endtrans %}</h2>
                {# list of participants in group #}
                {% set count = 1 %}
                <ol class="text-center">
                    {% for p in participants %}
                        <li>
                            {% if person is PatrolLeader %}
                                {% trans %}role.p{% endtrans %} <b>{{ p.getFullName }}</b>
                                {% if userStatus == 'open' %}
                                    <a href="{{ url_for('p-showChangeDetails', {'participantId': p.id, 'eventSlug': event.slug}) }}"><i
                                                class="material-icons">edit</i></a>
                                    <a href="{{ url_for('p-showDelete', {'participantId': p.id, 'eventSlug': event.slug}) }}"><i
                                                class="material-icons">delete</i></a>
                                {% else %}
                                    <a href="{{ url_for('p-show', {'participantId': p.id, 'eventSlug': event.slug}) }}"><i
                                                class="material-icons">search</i></a>
                                {% endif %}
                            {% elseif person is TroopLeader %}
                                {% set participantUserStatus = p.user.status.value %}
                                <span class="{% if participantUserStatus == 'open' %}highlight{% endif %}">
                                    {% if p.user.loginType.value == 'skautis' and p.user.skautisHasMembership == false %}
                                        <img src="https://is.skaut.cz/Login/Favicons/favicon-16x16.png" alt="skautisLogo">
                                        {% trans %}_layout.skautisAccountNotConnected{% endtrans %} ❌
                                    {% endif %}
                                    {% if p.isFullNameNotEmpty %}
                                        <b>{{ p.getFullName }}</b>
                                    {% else %}
                                        <i>{% trans %}dashboard.withoutFullName{% endtrans %}</i>
                                    {% endif %}
                                    - {{ ('dashboard.userStatus.' ~ participantUserStatus)|trans }}
                                </span>
                                <a href="{{ url_for('tp-show', {'participantId': p.id, 'eventSlug': event.slug}) }}"><i
                                            class="material-icons">search</i></a>
                                {% if userStatus == 'open' %}
                                    <a href="{{ url_for('tp-showUntie', {'participantId': p.id, 'eventSlug': event.slug}) }}"><i
                                                class="material-icons">delete</i></a>
                                {% endif %}
                            {% endif %}
                        </li>
                        {% set count = count + 1 %}
                    {% endfor %}
                </ol>

                {# help text how many participants is needed #}
                {% if userStatus == 'open' %}
                    <p>
                        {% trans %}dashboard.youNeed {% endtrans %}
                            {% if person is PatrolLeader %}
                            {% if event.getMinimalPpCount(person) == event.getMaximalPpCount(person) %}
                                {% trans %}dashboard.exactly {% endtrans %} {{ event.getMinimalPpCount(person) }}
                            {% else %}
                                {% trans %}dashboard.minimally {% endtrans %} {{ event.getMinimalPpCount(person) }}
                                {% trans %}dashboard.andMaximally {% endtrans %} {{ event.getMaximalPpCount(person) }}
                            {% endif %}
                        {% elseif person is TroopLeader %}
                            {% if event.minimalTroopParticipantsCount == event.maximalTroopParticipantsCount %}
                                {% trans %}dashboard.exactly {% endtrans %} {{ event.minimalTroopParticipantsCount }}
                            {% else %}
                                {% trans %}dashboard.minimally {% endtrans %} {{ event.minimalTroopParticipantsCount }}
                                {% trans %}dashboard.andMaximally {% endtrans %} {{ event.maximalTroopParticipantsCount }}
                            {% endif %}
                        {% endif %}
                        {% trans %}dashboard.pForValidReg {% endtrans %}
                    </p>
                {% endif %}

                {# adding new participants into group #}
                {% if userStatus == 'open' %}
                    {% if person is PatrolLeader %}
                        <form method="POST" action="{{ url_for('pl-addParticipant', {'eventSlug': event.slug}) }}">
                            <input type="submit" value="{% trans %}dashboard.addParticipant{% endtrans %}"
                                   class="btn btn-small">
                        </form>
                    {% elseif person is TroopLeader %}
                        {% include('widgets/troopTieForm.twig') with {
                            formUrl: url_for('tie-tp-by-tl', {'eventSlug': event.slug}),
                            textInputLabel: 'dashboard.tieCodeLabel',
                            buttonLabel: 'dashboard.tieTroopParticipant'
                        } %}
                    {% endif %}
                    <br/>
                {% endif %}
            </div>
        </div>
    
        {% if userStatus == 'open' %}
            {% if person is PatrolLeader %}
                {% set linkLeaderLock = url_for('pl-showCloseRegistration', {'eventSlug': event.slug}) %}
            {% elseif person is TroopLeader %}
                {% set linkLeaderLock = url_for('showCloseRegistration', {'eventSlug': event.slug}) %}
            {% endif %}                
            <a class="btn btn-small" href="{{ linkLeaderLock }}">
                {% trans %}dashboard.lockRegistration{% endtrans %}
            </a>
        {% endif %}
    
    {% else %}{# participant #}
            <div>
                {% if person is TroopParticipant %}
                    {% if person.getTroopLeader() is null %}
                        {% include('widgets/troopTieForm.twig') with {
                            formUrl: url_for('tie-tp-by-tp', {'eventSlug': event.slug}),
                            textInputLabel: 'dashboard.codeForTieToTroop',
                            buttonLabel: 'dashboard.tieToTroopLeader'
                        } %}<br/>
                    {% else %}
                        <h2>{% trans with {'%troopName%': person.troopLeader.getPatrolName(), '%troopLeaderFullName%': person.troopLeader.getFullName()} %}dashboard.youHaveTroop{% endtrans %}</h2>
                    {% endif %}
                {% endif %}
                <h2>{% trans %}dashboard.personalInfo{% endtrans %}</h2>
                {% if userStatus == 'open' %}
                    <a class="btn btn-small" href="{{ url_for('showDetailsChangeable', {'eventSlug': event.slug}) }}">
                        {% trans %}dashboard.editDetails{% endtrans %}</a><br/><br/>
                {% endif %}
                <div class="text-center">
                    {% include 'widgets/details.twig' with {'person': person} %}
                    <br/>
                </div>
            </div>
    
            {% if userStatus == 'open' %}
                <a class="btn btn-small" href="{{ url_for('showCloseRegistration', {'eventSlug': event.slug}) }}">
                    {% trans %}dashboard.lockRegistration{% endtrans %}</a>
            {% endif %}
        </div>

    {% endif %}
{% endblock %}
