{% extends "_layoutPdf.twig" %}

{% block content %}
<div class="header">
    <img class="header-logo" src="data:image/png;base64,{{ event.getLogoInBase64 }}" alt="logo of {{ event.readableName }}">
    <img class="header-logo content-right" src="data:image/png;base64,{{ skautLogo }}" alt="logo of Scout organization">
</div>
<h1 class="content-center">{{ 'receipt.headline' |trans }}</h1>
<p class="content-left">{{ 'receipt.accepter'|trans|raw }}</p>
<p class="content-right">{{ 'receipt.number'|trans }}: {{ receiptNumber }}</p>
<p>{{ 'receipt.acceptPaymentEvent'|trans({
        '%eventReadableName%': event.readableName,
        '%eventDates%': eventDates,
    }) }}</p>
<p>{{ 'receipt.acceptPaymentParticipant'|trans({
        '%participantFullName%': participant.getFullName,
        '%participantFullAddress%': participant.permanentResidence,
    }) }}</p>
{% if allOtherParticipants %}
    <p>{{ 'receipt.acceptPaymentMoreParticipant'|trans({
            '%allOtherParticipants%': allOtherParticipants,
        }) }}</p>
{% endif %}
<p>{{ 'receipt.acceptPaymentPayment'|trans({
        '%paymentAmount%': payment.price,
        '%paymentCurrency%': payment.currency,
        '%paymentVariableSymbol%': payment.variableSymbol,
        '%paymentAccountTo%': payment.accountNumber,
    }) }}</p>
{#<div>
    <img class="signStamp content-right" src="data:image/png;base64,{{ signAndStamp }}" alt="sign and stamp">
</div>#}
<p class="content-right">{{ 'receipt.acceptedSígn'|trans({
        '%acceptedDate%': participant.registrationPayDate.format('j. n. Y'),
    }) }}</p>
{% endblock %}
