{% extends "_layout.twig" %}

{% block content %}
	<div class="card approved-theme">
		<h2>Ruční potvrzování plateb na akci {{ eventName }}</h2>
	</div>
	<br/>
	{% if approvedIsts is not empty %}
		<div class="card approved-theme">
			<h2>Účastníci</h2>
		</div>
		<br/>
		{% for ist in approvedIsts %}
			<div class="card approved-theme">
				<h3>{{ ist.info.getFirstName }} {{ ist.info.getLastName }}</h3>
				Variabilní symbol: <b>{{ ist.payment.getVariableSymbol }}</b><br/>
				Částka: <b>{{ ist.payment.getPrice}} Kč</b><br/>
				<br/>
				<form method="post" action="{{ path_for('setPaymentPaid', {'payment': ist.payment.getId}) }}">
					<input type="submit" value="Potvrdit platbu" class="btn btn-small">
				</form>
			</div>
			<br/>
		{% endfor %}
	{% else %}
		<div class="card approved-theme">
			<h3>Žádní účastníci nepotřebují potvrdit platbu!</h3>
		</div>
		<br/>
	{% endif %}
{% endblock %}