<!DOCTYPE html>
<html lang="en">

{# TODO make more smartyy #}
{% if event is null %}
    {% set event = [] %}
    {% set event = event|merge({'readableName': 'Korbo 2020', 'webUrl': 'https://korbo.skauting.cz/'}) %}
{% endif %}

<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">

    <title>{% trans %}_layout.title{% endtrans %} - {{ event.readableName }} - kissj</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ base_path() }}/styles.css">
</head>

<body class="wrapper">
<h1 class="text-center">{% trans %}_layout.title{% endtrans %} - {{ event.readableName }}</h1>
<div class="user text-right">
    <a href="?locale=cs">Česky</a> | <a href="?locale=en">English</a>
    {% if user is not null %}
        | {{ user.email }}
        <a class="" href="{{ url_for('logout') }}">{% trans %}_layout.logOut{% endtrans %}</a>
        {% set userStatus = user.status %}
    {% else %}
        {% set userStatus = "unregistred" %}
    {% endif %}
</div>
<ul class="progressbar">
    <li class="progressbar-item progressbar-item-registration {% if userStatus == 'unregistred' %}is-active{% endif %}">
        {% trans %}_layout.titleBar{% endtrans %}
    </li>
    <li class="progressbar-item {% if userStatus == 'open' %}is-active{% endif %}">{% trans %}_layout.editingBar{% endtrans %}</li>
    <li class="progressbar-item {% if userStatus == 'closed' %}is-active{% endif %}">{% trans %}_layout.lockedBar{% endtrans %}</li>
    <li class="progressbar-item {% if userStatus == 'approved' %}is-active{% endif %}">{% trans %}_layout.approvedBar{% endtrans %}</li>
    <li class="progressbar-item {% if userStatus == 'paid' %}is-active{% endif %}">{% trans %}_layout.payedBar{% endtrans %}</li>
</ul>
<div class="flash-wrapper">
    {% for flashMessage in flashMessages.dumpMessagesIntoArray() %}
        <div class="alert alert-{{ flashMessage['type'] }}">
            {{ flashMessage['message'] }}
        </div>
    {% endfor %}
</div>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<footer>
    <span class="footer-item">{{ event.readableName }} - 
    <a href="https://devs.skauting.cz/" target="_blank">{% trans %}_layout.creator{% endtrans %}</a></span>
    <a href="{{ event.webUrl }}" class="footer-item" target="_blank">
        <img src="/public/logo.png" alt="logo of {{ event.readableName }}">
    </a>
</footer>
</body>
</html>
