<!DOCTYPE html>
<html lang="{{ locale|default('cs') }}">

<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">

    <title>{% trans %}_layout.title{% endtrans %} - {{ event.readableName }} - kissj</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ base_path() }}/styles.css">
    {% if event.eventType.getStylesheetNameWithoutLeadingSlash is not null %}
        <link rel="stylesheet" href="{{ base_path() }}/{{ event.eventType.getStylesheetNameWithoutLeadingSlash }}">
    {% endif %}
    <link rel="stylesheet" href="{{ base_path() }}/stylesPdf.css">
</head>

<body class="wrapper">
    {% block content %}{% endblock %}
</body>
</html>
