{% extends "_layout.twig" %}

{% block content %}
    <div class="card {{ userStatus }}-theme">
        <h2>{{ pl.getPatrolName }} patrol details</h2>
        <h4>
            {% include('widgets/userCustomHelp.twig') with {'userRole': 'pl'} %}
        </h4>
        {% if userStatus == 'approved' %}
            <div class="paymentInfo">
                <h2>Payment details</h2>
                International Bank Account Number (IBAN): {{ payment.getAccountNumber }}<br/>
                SWIFT/BIC: TATRSKBX<br/>
                Amount: {{ payment.getPrice }} EUR<br/>
                Variable symbol: 51220 {# TODO fix for general event #}<br/>
                Constant symbol (may be not available in your bank): 0558<br/>
                Note: {{ payment.getNote }}<br/>
                <br/>
            </div>
        {% endif %}

        <div class="card-divide">
            <div>
                <h2>Patrol Leader {{ pl.getFullName }}</h2>
                {% if userStatus == 'open' %}
                    <a class="btn btn-small" href="{{ url_for('pl-changeDetails', {'eventSlug': event.slug}) }}">
                        Edit your own details</a><br/><br/>
                {% endif %}
                <div class="text-center">
                    Patrol name: <b>{{ pl.getPatrolName }}</b><br/>
                    <br/>
                    First name: <b>{{ pl.getFirstName }}</b><br/>
                    Surname: <b>{{ pl.getLastName }}</b><br/>
                    Scout nickname: <b>{{ pl.getNickname }}</b><br/>
                    Date of birth: <b>{{ pl.getBirthDate.format('d. m. Y') }}</b><br/>
                    Gender: <b>{{ pl.getGender }}</b><br/>
                    Email: <b>{{ pl.getEmail }}</b><br/>
                    Phone number: <b>{{ pl.getTelephoneNumber }}</b><br/>
                    Permanent Address: <b>{{ pl.getPermanentResidence }}</b><br/>
                    Country: <b>{{ pl.getCountry }}</b><br/>
                    Scout unit: <b>{{ pl.getScoutUnit }}</b><br/>
                    T-shirt size: <b>{{ pl.getTshirt }}</b><br/>
                    Diet Restriction: <b>{{ pl.getFoodPreferences }}</b><br/>
                    Health issues: <b>{{ pl.getHealthProblems }}</b><br/>
                    Languages you speak + level: <b>{{ pl.getLanguages }}</b><br/>
                    Swimming skill: <b>{{ pl.getSwimming }}</b><br/>
                    Notes: <b>{{ pl.getNotes }}</b><br/>
                </div>
            </div>
            <div>
                <h2>List of participants</h2>
                {% if userStatus == 'open' %}
                    <form method="POST" action="{{ url_for('pl-addParticipant', {'eventSlug': event.slug}) }}">
                        <input type="submit" value="Add a participant" class="btn btn-small">
                    </form>
                    <br/>
                {% endif %}
                {% set count = 1 %}
                <ol class="text-center">
                    {% for p in particiants %}
                        <li>
                            participant - <b>{{ p.getFullName }}</b>
                            {% if userStatus == 'open' %}
                                <!-- edit --><a
                                    href="{{ url_for('p-showChangeDetails',{'participantId': p.id, 'eventSlug': event.slug}) }}"><i
                                        class="material-icons">edit</i></a>
                                <!-- delete --><a
                                    href="{{ url_for('p-showDelete',{'participantId': p.id, 'eventSlug': event.slug}) }}"><i
                                        class="material-icons">delete</i></a>
                            {% else %}
                                <!-- show --><a
                                    href="{{ url_for('p-show',{'participantId': p.id, 'eventSlug': event.slug}) }}"><i
                                        class="material-icons">search</i></a>
                            {% endif %}

                        </li>
                        {% set count = count + 1 %}
                    {% endfor %}
                </ol>
                {% if userStatus == 'open' %}
                    <p>
                        You need
                        {% if event.minimalPatrolParticipantsCount == event.maximalPatrolParticipantsCount %}
                            exactly {{ event.minimalPatrolParticipantsCount }}
                        {% else %}
                            minimally {{ event.minimalPatrolParticipantsCount }}
                            and maximally {{ event.maximalPatrolParticipantsCount }}
                        {% endif %}
                        participants for valid registration
                    </p>
                {% endif %}
            </div>
        </div>

        {% if userStatus == 'open' %}
            <a class="btn btn-small" href="{{ url_for('pl-showCloseRegistration', {'eventSlug': event.slug}) }}">
                Lock registration
            </a>
        {% endif %}
    </div>
{% endblock %}
