{% extends "_layout.twig" %}

{% block content %}
    {% set userStatus = user.status %}
    <div class="card {{ userStatus }}-theme">
        <h2>{% trans %}role.ist{% endtrans %} {% trans %}dashboard.details{% endtrans %}</h2>
        <h4>
            {% include('widgets/userCustomHelp.twig') with {'userRole': 'ist'} %}
        </h4>
        {% if ist.getPayments %}
            <h2>{% trans %}dashboard.paymentInfo{% endtrans %}</h2>
             {% for payment in ist.getPayments %}
                <div class="payment{% if payment.status == 'canceled' %} payment-overdue{% endif %}">
                    {% trans %}dashboard.accountNumber{% endtrans %}: <b>{{ payment.getAccountNumber }}</b><br/>
                    {% trans %}dashboard.amount{% endtrans %}: <b>{{ payment.getPrice }} {{ payment.currency }}</b>
                    <br/>
                    {% trans %}dashboard.variableSymbol{% endtrans %}: <b>{{ payment.getVariableSymbol }}</b><br/>
                    {% trans %}dashboard.paymentNote{% endtrans %}: <b>{{ payment.getNote }}</b><br/>
                    <br/>
                </div>
            {% endfor %}
        {% endif %}

        <div>
            <h2>{% trans %}dashboard.personalInfo{% endtrans %}</h2>
            {% if userStatus == 'open' %}
                <a class="btn btn-small" href="{{ url_for('ist-showDetailsChangeable', {'eventSlug': event.slug}) }}">
                    {% trans %}dashboard.editDetails{% endtrans %}</a><br/><br/>
            {% endif %}
            <div class="text-center">
                {% include 'widgets/details.twig' with {'person': ist} %}
                <br/>
            </div>
        </div>

        {% if userStatus == 'open' %}
            <a class="btn btn-small" href="{{ url_for('ist-showCloseRegistration', {'eventSlug': event.slug}) }}">
                {% trans %}dashboard.lockRegistration{% endtrans %}</a>
        {% endif %}
    </div>
{% endblock %}
