{% extends "_layout.twig" %}

{% block content %}
    <div class="card">
        <h2>{{ 'dashboard.delete' | trans }} - {{ 'role.p' | trans }}</h2>
        <p>
            {{ 'dashboard.youWantDelete' | trans }}
            {% if pDetail.getFirstName is not empty %}<b>{{ pDetail.getFullName }}</b>{% else %}
                <i>{{ 'dashboard.withoutName' | trans }}</i>{% endif %}{{ 'dashboard.wontBeAbleUndo' | trans }}
        </p>
        <form method="POST"
              action="{{ url_for('p-delete', {'participantId': pDetail.getId, 'eventSlug': event.slug}) }}">
            <input class="btn btn-small" type="submit" value="{{ 'dashboard.delete' | trans }}">
            <a href="{{ url_for('dashboard', {'eventSlug': event.slug}) }}"
               class="btn btn-grey btn-small">{{ 'changeDetails.back' | trans }}</a>
        </form>
    </div>
{% endblock %}
