<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Registration {{ event.getReadableName }}</title>
    <style>
        .btn {
            background: #0b2a34;
            color: white;
            border-radius: 6px;
            text-decoration: none;
            font-size: 25px;
            display: block;
            text-align: center;
            padding: 15px;
            border: none;
        }

        .btn-small {
            display: inline-block;

        }

        .noselect {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
        }
    </style>
</head>
<body>
<main role="main" class="container">
    {% block content %}{% endblock %}

    <p>If you have any questions, you may seek the answer at our webpage
        <a href="{{ event.webUrl }}">{{ event.webUrl }}</a>
        or send us an E-mail to <a href="mailto:{{ event.getContactEmail }}">{{ event.getContactEmail }}</a><span
                class="noselect">.</span></p>

    <p>Fair winds and following seas from team of {{ event.getReadableName }}</p>
</main>
</body>
</html>
