{% extends "emails/_mail-layout.twig" %}

{% block content %}
    <p>Ahoy!</p>
    <p>You are logging into the registration system of {{ event.readableName }}.</p>
    <a class="btn btn-small" href="{{ baseHostScheme }}{{ link }}"><font color="white">Log in!</font></a>
    <p>If the button above is not visible or is not working, please copy&paste following link into the address line
        of your web browser: <a href="{{ baseHostScheme }}{{ link }}">{{ baseHostScheme }}{{ link }}</a></p>
    <p>More information is available at <a href="{{ event.webUrl }}">{{ event.webUrl }}</a></p>
{% endblock %}
