{% extends "_layout.twig" %}

{% block content %}
    <div class="card card-half closed-theme">
        <h2>{% trans %}addNewPayment-admin.newPayment{% endtrans %}</h2>
        <p></p>
        <form
            method="post"
            action="{{ url_for('admin-add-new-payment', {'participantId' : participant.getId, 'eventSlug': event.slug}) }}"
        >
            <div class="form-group">
                <label>
                    {% trans %}addNewPayment-admin.wantAddPayment{% endtrans %} <b>{{ participant.getFullName }}</b>
                    {% trans %}addNewPayment-admin.withRole{% endtrans %} <b>{{ ('role.' ~ participant.role.value)|trans }}</b>
                    {% trans %}addNewPayment-admin.withPayment{% endtrans %} ({{ event.currency }}):<br/>
                    <input
                        type="number"
                        min="1"
                        max="99999"
                        name="price"
                        id="form-price"
                        class="form-control form-wide"
                        required="required"
                    >
                </label>
            </div>
            <div class="form-group">
                <label>
                    {% trans %}addNewPayment-admin.withReason{% endtrans %}:<br/>
                    <input
                        type="text"
                        name="reason"
                        id="form-reason"
                        class="form-control form-wide"
                        required="required"
                    >
                </label>
            </div><br/>
            <a
                href="{{ url_for('admin-mend-participant', {'eventSlug': event.slug, 'participantId': participant.getId}) }}"
                class="btn btn-small btn-grey"
            >{% trans %}addNewPayment-admin.back{% endtrans %}</a><br/><br/>
            <input type="submit" value="{% trans %}addNewPayment-admin.addPayment{% endtrans %}" class="btn btn-small">
        </form><br/>
    </div>
{% endblock %}
