{% extends "_layout.twig" %}

{% block content %}
    <div class="card closed-theme">
        <h2>{% trans %}approve-admin.approving{% endtrans %} {{ event.readableName }}</h2>
        <a href="{{ url_for('admin-dashboard', {'eventSlug': event.slug} ) }}"
           class="btn btn-grey btn-small">{% trans %}approve-admin.back{% endtrans %}</a>
    </div>
    <br/>
    {% if event.allowIsts %}
        {% if closedIsts is not empty %}
            <div class="card closed-theme">
                <h2>{% trans %}role.ist{% endtrans %}</h2>
            </div>
            <br/>
            {% for ist in closedIsts %}
                <div class="card closed-theme">
                    <h4>{{ ist.getFullName }}</h4>
                    {% include 'widgets/details.twig' with {'person': ist, 'ca': caIst} %}{#
                    {% if caIst.uploadFile %}
                        {% trans %}approve-admin.uploadedFile{% endtrans %}
                        {% if ist.getUploadedFilename %}
                            <a target="_blank"
                               href="{{ url_for('admin-show-file', {'filename': ist.getUploadedFilename, 'eventSlug': event.slug}) }}">
                                {{ ist.getUploadedOriginalFilename }}
                            </a>
                        {% else %}
                            <i>{% trans %}approve-admin.noFile{% endtrans %}</i>
                        {% endif %}<br/>
                    {% endif %}
                    TODO move into widget #}
                    <br/>
                    <a href="{{ url_for('admin-deny-participant-show', {'participantId': ist.getId, 'eventSlug': event.slug}) }}"
                       class="btn btn-grey btn-small">{% trans %}approve-admin.deny{% endtrans %}</a>
                    <br/>
                    <br/>
                    <form method="post"
                          action="{{ url_for('admin-approve-ist', {'istId': ist.getId, 'eventSlug': event.slug}) }}">
                        <input type="submit"
                               value="{% trans %}approve-admin.approveAndSend{% endtrans %}"
                               class="btn btn-small">
                    </form>
                </div>
                <br/>
            {% endfor %}
        {% else %}
            <div class="card closed-theme">
                <h2>{% trans %}approve-admin.none{% endtrans %} {% trans %}role.ist{% endtrans %} {% trans %}approve-admin.need{% endtrans %}</h2>
            </div>
            <br/>
        {% endif %}
    {% endif %}

    {% if event.allowPatrols %}
        {% if closedPatrolLeaders is not empty %}
            <div class="card closed-theme">
                <h2>{% trans %}role.pl{% endtrans %}</h2>
            </div>
            <br/>
            {% for pl in closedPatrolLeaders %}
                <div class="card closed-theme">
                    <h3>{{ pl.getPatrolName }}</h3>
                    <br/>
                    <h4>{{ pl.getFullName }}</h4>
                    {% include 'widgets/details.twig' with {'person': pl, 'ca': caPl} %}
                    <br/>
    
                    <h4>{% trans %}role.pp{% endtrans %} {% trans %}dashboard.details{% endtrans %}</h4>
                    {% for pp in pl.patrolParticipants %}
                        {% include 'widgets/details.twig' with {'person': pp, 'ca': caPp, 'useShortNaming': true} %}
                        <br/>
                    {% endfor %}
                    <a href="{{ url_for('admin-deny-participant-show', {'patrolLeaderId': pl.getId, 'eventSlug': event.slug}) }}"
                       class="btn btn-grey btn-small">{% trans %}approve-admin.deny{% endtrans %}</a>
                    <br/>
                    <br/>
                    <form method="post"
                          action="{{ url_for('admin-approve-pl', {'participantId': pl.getId, 'eventSlug': event.slug}) }}">
                        <input type="submit"
                               value="{% trans %}approve-admin.approveAndSend{% endtrans %}"
                               class="btn btn-small">
                    </form>
                </div>
                <br/>
            {% endfor %}
        {% else %}
            <div class="card closed-theme">
                <h2>{% trans %}approve-admin.none{% endtrans %} {% trans %}role.pl{% endtrans %} {% trans %}approve-admin.need{% endtrans %}</h2>
            </div>
            <br/>
        {% endif %}
    {% endif %}

    {% if event.allowGuests %}
        {% if closedGuests is not empty %}
            <div class="card closed-theme">
                <h2>Guests</h2>
            </div>
            <br/>
            {% for guest in closedGuests %}
                <div class="card closed-theme">
                    <h4>{{ guest.getFullName }}</h4>
                    {% include 'widgets/details.twig' with {'person': guest, 'ca': caGuest} %}
                    <br/>
                    <a href="{{ url_for('admin-deny-participant-show', {'participantId': guest.getId, 'eventSlug': event.slug}) }}"
                       class="btn btn-grey btn-small">{% trans %}approve-admin.deny{% endtrans %}</a>
                    <br/>
                    <br/>
                    <form method="post"
                          action="{{ url_for('admin-approve-guest', {'guestId': guest.getId, 'eventSlug': event.slug}) }}">
                        <input type="submit" value="{% trans %}approve-admin.approveAndSend{% endtrans %}" class="btn btn-small">
                    </form>
                </div>
                <br/>
            {% endfor %}
        {% else %}
            <div class="card closed-theme">
                <h2>{% trans %}approve-admin.none{% endtrans %} {% trans %}role.guest{% endtrans %} {% trans %}approve-admin.need{% endtrans %}</h2>
            </div>
            <br/>
        {% endif %}
    {% endif %}
{% endblock %}
