{% extends "_layout.twig" %}

{% block content %}
    <div class="card card-half">
        <h2>{{ 'cancelPayment-admin.cancel' | trans }}</h2>
        <p>{{ 'cancelPayment-admin.wantCancel' | trans }}<b> {{ payment.participant.getFullName }}</b>
            {{ 'cancelPayment-admin.inRole' | trans }} {{ payment.participant.role.value }}?</p>
        <p>{{ 'cancelPayment-admin.participantNeedsToKnow' | trans }}</p>
        <form method="post" action="{{ url_for('admin-cancel-payment',
            {'paymentId' : payment.id, 'eventSlug': event.slug}) }}">
            <div class="form-group">
                <label>{{ 'cancelPayment-admin.reason' | trans }}<br/><br/>
                    <input type="text" name="reason" id="form-reason" class="form-control form-wide"
                           required="required"></label>
            </div>
            <br/>
            <a href="{{ url_for('admin-show-payments', {'eventSlug': event.slug}) }}"
               class="btn btn-small btn-grey">{{ 'cancelPayment-admin.back' | trans }}</a><br/><br/>
            <input type="submit" value="{{ 'cancelPayment-admin.cancelPayment' | trans }}"
                   class="btn btn-small">
        </form>
    </div>
{% endblock %}
