{% extends "_layout.twig" %}

{% block content %}
<div class="card card-half">
    <h2>{{ 'stats-admin.changeRole' | trans }}</h2>
    <div>
        <h4>{{ person.getFullName }}</h4>
        {{ 'detail.email' | trans }}: <b>{{ person.getEmail }}</b><br/>
        {{ 'detail.notice' | trans }}: <b>{{ person.getNotes }}</b><br/>
        {% include 'widgets/adminNotice.twig' with {'participantId': person.id} %}<br/>
    </div>
    <form 
        method="POST"
        action="{{ url_for('admin-change-role', {'eventSlug': event.slug, 'participantId': person.id}) }}"
        class="form-group"
    >
        <div class="form-group">
            <label for="role">{{ 'stats-admin.role' | trans }}:</label>
            <select
                    id="role"
                    class="form-control form-wide"
                    name="role"
            >
                {% for role in roles %}
                    <option
                            value="{{ role.value }}"
                            {% if person.role == role %} selected="selected"{% endif %}
                    >{{ dump }}
                        {{ ('role.' ~ role.value)|trans }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <input class="btn" type="submit" value="{{ 'stats-admin.changeRole' | trans }}">
    </form>
    <a href="{{ url_for('admin-show-open', {'eventSlug': event.slug}) }}"
       class="btn btn-grey btn-small">{{ 'changeDetails.back' | trans }}</a>
</div>
{% endblock %}
