{% extends "_layout.twig" %}

{% block content %}
    <div class="card paid-theme">
        <h2>{% trans %}dashboard-admin.dashboard{% endtrans %} {{ event.readableName }}
            {% if user.role.value == 'contingentAdminCs' %} - {{ 'detail.contingent.czechia'|trans }}
            {% elseif user.role.value == 'contingentAdminSk' %} - {{ 'detail.contingent.slovakia'|trans }}
            {% elseif user.role.value == 'contingentAdminPl' %} - {{ 'detail.contingent.poland'|trans }}
            {% elseif user.role.value == 'contingentAdminHu' %} - {{ 'detail.contingent.hungary'|trans }}
            {% elseif user.role.value == 'contingentAdminEu' %} - {{ 'detail.contingent.european'|trans }}
            {% elseif user.role.value == 'contingentAdminRo' %} - {{ 'detail.contingent.romania'|trans }}
            {% endif %}
        </h2>
        <h3>{% trans %}dashboard-admin.stats{% endtrans %}</h3>
        <div class="card-divide">
            <div>
                {% if event.allowPatrols %}
                    <h3>{% trans %}role.pl{% endtrans %} {% trans %}dashboard-admin.count{% endtrans %}</h3>
                    <p>{% trans %}dashboard-admin.limitPatrol{% endtrans %}: {{ event.maximalClosedPatrolsCount }}</p>
                    <p>{% trans %}dashboard-admin.openPatrol{% endtrans %}: {{ patrols.openCount }}</p>
                    <p>{% trans %}dashboard-admin.lockedPatrol{% endtrans %}: {{ patrols.closedCount }}</p>
                    <p>{% trans %}dashboard-admin.approvedPatrol{% endtrans %}: {{ patrols.approvedCount }}</p>
                    <p>{% trans %}dashboard-admin.paidPatrol{% endtrans %}: {{ patrols.paidCount }}</p>
                {% endif %}
                {% if event.allowTroops %}
                    <h3>{% trans %}role.tl{% endtrans %} {% trans %}dashboard-admin.count{% endtrans %}</h3>
                    <p>{% trans %}dashboard-admin.limitTroop{% endtrans %}: {{ event.getMaximalClosedTroopLeadersCount }}</p>
                    <p>{% trans %}dashboard-admin.openTroop{% endtrans %}: {{ troopLeaders.openCount }}</p>
                    <p>{% trans %}dashboard-admin.lockedTroop{% endtrans %}: {{ troopLeaders.closedCount }}</p>
                    <p>{% trans %}dashboard-admin.approvedTroop{% endtrans %}: {{ troopLeaders.approvedCount }}</p>
                    <p>{% trans %}dashboard-admin.paidTroop{% endtrans %}: {{ troopLeaders.paidCount }}</p>
                    <br>

                    <h3>{% trans %}role.tp{% endtrans %} {% trans %}dashboard-admin.count{% endtrans %}</h3>
                    <p>{% trans %}dashboard-admin.limitTp{% endtrans %}: {{ event.getMaximalClosedTroopParticipantsCount }}</p>
                    <p>{% trans %}dashboard-admin.openTp{% endtrans %}: {{ troopParticipants.openCount }}</p>
                    <p>{% trans %}dashboard-admin.lockedTp{% endtrans %}: {{ troopParticipants.closedCount }}</p>
                    <p>{% trans %}dashboard-admin.approvedTp{% endtrans %}: {{ troopParticipants.approvedCount }}</p>
                    <p>{% trans %}dashboard-admin.paidTp{% endtrans %}: {{ troopParticipants.paidCount }}</p>
                {% endif %}
            </div>
            <div>
                {% if event.allowIsts %}
                    <h3>{% trans %}role.ist{% endtrans %} {% trans %}dashboard-admin.count{% endtrans %}</h3>
                    <p>{% trans %}dashboard-admin.limitIst{% endtrans %}: {{ event.maximalClosedIstsCount }}</p>
                    <p>{% trans %}dashboard-admin.openIst{% endtrans %}: {{ ists.openCount }}</p>
                    <p>{% trans %}dashboard-admin.lockedIst{% endtrans %}: {{ ists.closedCount }}</p>
                    <p>{% trans %}dashboard-admin.approvedIst{% endtrans %}: {{ ists.approvedCount }}</p>
                    <p>{% trans %}dashboard-admin.paidIst{% endtrans %}: {{ ists.paidCount }}</p>
                    <br>
                {% endif %}
                {% if event.allowGuests %}
                    <h3>{% trans %}role.guest{% endtrans %} {% trans %}dashboard-admin.count{% endtrans %}</h3>
                    <p>{% trans %}dashboard-admin.limitGuest{% endtrans %}
                        : {{ event.getMaximalClosedGuestsCount() }}</p>
                    <p>{% trans %}dashboard-admin.openGuest{% endtrans %}: {{ guests.openCount }}</p>
                    <p>{% trans %}dashboard-admin.lockedGuest{% endtrans %}: {{ guests.closedCount }}</p>
                    <p>{% trans %}dashboard-admin.approvedGuest{% endtrans %}: {{ guests.approvedCount }}</p>
                    <p>{% trans %}dashboard-admin.paidGuest{% endtrans %}: {{ guests.paidCount }}</p>
                {% endif %}
            </div>
        </div>
        <div class="card-divide">
            <div>
                <h3>{% trans %}dashboard-admin.entryCount{% endtrans %}</h3>
                <p>{% trans %}dashboard-admin.entryComing{% endtrans %}: {{ entryStatistic.coming }}</p>
                <p>{% trans %}dashboard-admin.entryArrived{% endtrans %}: {{ entryStatistic.arrived }}</p>
                <p>{% trans %}dashboard-admin.entryLeave{% endtrans %}: {{ entryStatistic.leave }}</p>
                
                <h3>{% trans %}dashboard-admin.entryCountPerRole{% endtrans %}</h3>
                {% for role, entryData in entryStatisticRoles %}
                    <p>
                        <b>{{ ('role.'~role)|trans }}</b>:
                        {% trans %}dashboard-admin.entryComing{% endtrans %}: {{ entryData.coming }}, 
                        {% trans %}dashboard-admin.entryArrived{% endtrans %}: {{ entryData.arrived }}, 
                        {% trans %}dashboard-admin.entryLeave{% endtrans %}: {{ entryData.leave }}
                    </p>
                {% endfor %}
            </div>
            <div>
                {% if event.eventType.showFoodStats() %}
                    <h3>{% trans %}dashboard-admin.foodCount{% endtrans %}</h3>
                    {% for food, count in foodStatistic %}
                        <p>{{ food|trans }}: <b>{{ count }}</b></p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% if event.eventType.showContingentPatrolStats %}
            <h3>{% trans %}dashboard-admin.contingentPatrolStats{% endtrans %}</h3>
            <div class="card-divide">
                <div>
                    {% for contingent in event.eventType.getContingentsForAdmin(user.role) %}
                        {% if loop.index is odd %}
                            <h3>{{ contingent|trans }} {% trans %}role.pl{% endtrans %} {% trans %}dashboard-admin.count{% endtrans %}</h3>
                            <p>{% trans %}dashboard-admin.openPatrol{% endtrans %}: {{ contingentsPatrolStatistic[contingent].openCount }}</p>
                            <p>{% trans %}dashboard-admin.lockedPatrol{% endtrans %}: {{ contingentsPatrolStatistic[contingent].closedCount }}</p>
                            <p>{% trans %}dashboard-admin.approvedPatrol{% endtrans %}: {{ contingentsPatrolStatistic[contingent].approvedCount }}</p>
                            <p>{% trans %}dashboard-admin.paidPatrol{% endtrans %}: {{ contingentsPatrolStatistic[contingent].paidCount }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div>
                    {% for contingent in event.eventType.getContingentsForAdmin(user.role) %}
                        {% if loop.index is even %}
                            <h3>{{ contingent|trans }} {% trans %}role.pl{% endtrans %} {% trans %}dashboard-admin.count{% endtrans %}</h3>
                            <p>{% trans %}dashboard-admin.openPatrol{% endtrans %}: {{ contingentsPatrolStatistic[contingent].openCount }}</p>
                            <p>{% trans %}dashboard-admin.lockedPatrol{% endtrans %}: {{ contingentsPatrolStatistic[contingent].closedCount }}</p>
                            <p>{% trans %}dashboard-admin.approvedPatrol{% endtrans %}: {{ contingentsPatrolStatistic[contingent].approvedCount }}</p>
                            <p>{% trans %}dashboard-admin.paidPatrol{% endtrans %}: {{ contingentsPatrolStatistic[contingent].paidCount }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if event.eventType.getContentArbiterIst().arrivalDate %}
            <h3>{% trans %}dashboard-admin.istArrivalStats{% endtrans %} {% trans %}role.ist{% endtrans %}</h3>
            {% for date, count in istArrivalStatistic %}
                <p>{{ date|date('d. m. Y') }}: <b>{{ count }}</b></p>
            {% endfor %}
        {% endif %}
    </div>
    <br>
    <div class="card paid-theme">
        <h3>{% trans %}dashboard-admin.adminActions{% endtrans %}</h3>
        <div class="card-divide">
            <div>
                <a href="{{ url_for('admin-show-open', {'eventSlug': event.slug}) }}"
                   class="btn">{% trans %}dashboard-admin.open{% endtrans %}</a><br/>
                <a href="{{ url_for('admin-show-approving', {'eventSlug': event.slug}) }}"
                   class="btn">{% trans %}dashboard-admin.approving{% endtrans %}</a><br/>
                {% if user.role.isEligibleToHandlePayments and event.automaticPaymentPairing %}
                    <a href="{{ url_for('admin-show-auto-payments', {'eventSlug': event.slug}) }}"
                       class="btn">{% trans %}dashboard-admin.newPayments{% endtrans %}</a><br/>
                {% endif %}
                {% if user.role.isEligibleToHandlePayments %}
                    <a href="{{ url_for('admin-show-payments', {'eventSlug': event.slug}) }}"
                       class="btn">{% trans %}dashboard-admin.confirmPayments{% endtrans %}</a><br/>
                {% endif %}
                <a href="{{ url_for('admin-show-stats', {'eventSlug': event.slug}) }}"
                   class="btn">{% trans %}dashboard-admin.showPaid{% endtrans %}</a><br/>
            </div>
            <div>
                {% if event.allowTroops and user.role.isEligibleToManageTroops %}
                    <a href="{{ url_for('admin-troop-management', {'eventSlug': event.slug}) }}"
                       class="btn">{% trans %}dashboard-admin.troopManagement{% endtrans %}</a><br/>    
                {% endif %}
                {% if event.eventType.showFoodStats() %}
                    <a href="{{ url_for('admin-food-stats', {'eventSlug': event.slug}) }}"
                       class="btn">{% trans %}dashboard-admin.foodCount{% endtrans %}</a><br/>
                {% endif %}
                <a href="{{ url_for('admin-export-health', {'eventSlug': event.slug}) }}"
                   class="btn">{% trans %}dashboard-admin.exportMedData{% endtrans %}</a><br/>
                <a href="{{ url_for('admin-export-paid', {'eventSlug': event.slug}) }}"
                   class="btn">{% trans %}dashboard-admin.exportEmailsPaid{% endtrans %}</a><br/>
                <a href="{{ url_for('admin-export-full', {'eventSlug': event.slug}) }}"
                   class="btn">{% trans %}dashboard-admin.exportFullData{% endtrans %}</a><br/>
                {% if event.allowPatrols %}
                    <a href="{{ url_for('admin-export-patrols-roster', {'eventSlug': event.slug}) }}"
                       target="_blank"
                       class="btn">{% trans %}dashboard-admin.exportPatrolsRoster{% endtrans %}</a><br/>
                {% endif %}
            </div>
        </div>
    </div>
    {% if user.role.isEligibleToHandlePayments %}
        <div class="card card-half paid-theme">
            <form method="GET" action="{{ url_for('admin-show-transfer-payment', {'eventSlug': event.slug}) }}" class="form-group">
                <label class="form-group">{% trans %}dashboard-admin.emailFrom{% endtrans %}:<br/>
                    <input class="form-control form-wide" name="emailFrom" type="email" required></label>
                <br/>
                <label class="form-group">{% trans %}dashboard-admin.emailTo{% endtrans %}:<br/>
                    <input class="form-control form-wide" name="emailTo" type="email" required></label>
                <br/>
                <input class="btn btn-small"
                       type="submit"
                       value="{% trans %}dashboard-admin.checkMovePayments{% endtrans %}">
            </form>
        </div>
    {% endif %}
    {% if event.eventType.showIstImport and user.role.isEligibleToImportIst %}
        <div class="card card-half paid-theme">
            <form
                    id="uploadFileForm"
                    class="form-group"
                    method="POST"
                    action="{{ url_for('admin-import-ist', {'eventSlug': event.slug}) }}"
                    enctype="multipart/form-data"
            >
                <label class="form-group">{% trans %}dashboard-admin.import-file{% endtrans %}:<br/>
                    <input id="uploadFile" class="form-control form-wide" type="file" name="uploadFile" required="required">
                </label><br/>
                <input class="btn btn-small"
                       type="submit"
                       value="{% trans %}dashboard-admin.import-submit{% endtrans %}">
            </form>
        </div>
    {% endif %}
{% endblock %}
