{% extends "_layout.twig" %}

{% block content %}
    <div class="card paid-theme">
        <h2>{% trans %}dashboard-admin.dashboard{% endtrans %} {{ event.readableName }}
            {% if user.role == 'contingentAdminCs' %} - {{ 'detail.contingent.czechia'|trans }}
            {% elseif user.role == 'contingentAdminSk' %} - {{ 'detail.contingent.slovakia'|trans }}
            {% elseif user.role == 'contingentAdminPl' %} - {{ 'detail.contingent.poland'|trans }}
            {% elseif user.role == 'contingentAdminHu' %} - {{ 'detail.contingent.hungary'|trans }}
            {% elseif user.role == 'contingentAdminEu' %} - {{ 'detail.contingent.european'|trans }}
            {% elseif user.role == 'contingentAdminRo' %} - {{ 'detail.contingent.romania'|trans }}
            {% endif %}
        </h2>
        <h3>{% trans %}dashboard-admin.stats{% endtrans %}</h3>
        <div class="card-divide">
            <div>
                {% if event.allowPatrols %}
                    <h3>{% trans %}role.pl{% endtrans %} {% trans %}dashboard-admin.count{% endtrans %}</h3>
                    <p>{% trans %}dashboard-admin.limitPatrol{% endtrans %}: {{ event.maximalClosedPatrolsCount }}</p>
                    <p>{% trans %}dashboard-admin.openPatrol{% endtrans %}: {{ patrols.getOpenCount }}</p>
                    <p>{% trans %}dashboard-admin.lockedPatrol{% endtrans %}: {{ patrols.getClosedCount }}</p>
                    <p>{% trans %}dashboard-admin.approvedPatrol{% endtrans %}: {{ patrols.getApprovedCount }}
                        ({{ patrols.getAfterPayment }} {% trans %}dashboard-admin.afterPayment{% endtrans %})</p>
                    <p>{% trans %}dashboard-admin.paidPatrol{% endtrans %}: {{ patrols.getPaidCount }}</p>
                {% endif %}
                {% if event.allowTroops %}
                    <h3>{% trans %}role.tl{% endtrans %} {% trans %}dashboard-admin.count{% endtrans %}</h3>
                    <p>{% trans %}dashboard-admin.limitPatrol{% endtrans %}: {{ event.getMaximalClosedTroopLeadersCount }}</p>
                    <p>{% trans %}dashboard-admin.openPatrol{% endtrans %}: {{ troopLeaders.getOpenCount }}</p>
                    <p>{% trans %}dashboard-admin.lockedPatrol{% endtrans %}: {{ troopLeaders.getClosedCount }}</p>
                    <p>{% trans %}dashboard-admin.approvedPatrol{% endtrans %}: {{ troopLeaders.getApprovedCount }}
                        ({{ troopLeaders.getAfterPayment }} {% trans %}dashboard-admin.afterPayment{% endtrans %})</p>
                    <p>{% trans %}dashboard-admin.paidPatrol{% endtrans %}: {{ troopLeaders.getPaidCount }}</p>
                    <br>

                    <h3>{% trans %}role.tp{% endtrans %} {% trans %}dashboard-admin.count{% endtrans %}</h3>
                    <p>{% trans %}dashboard-admin.limitTp{% endtrans %}: {{ event.getMaximalClosedTroopParticipantsCount }}</p>
                    <p>{% trans %}dashboard-admin.openTp{% endtrans %}: {{ troopParticipants.getOpenCount }}</p>
                    <p>{% trans %}dashboard-admin.lockedTp{% endtrans %}: {{ troopParticipants.getClosedCount }}</p>
                    <p>{% trans %}dashboard-admin.approvedTp{% endtrans %}: {{ troopParticipants.getApprovedCount }}
                        ({{ troopParticipants.getAfterPayment }} {% trans %}dashboard-admin.afterPayment{% endtrans %})</p>
                    <p>{% trans %}dashboard-admin.paidTp{% endtrans %}: {{ troopParticipants.getPaidCount }}</p>
                {% endif %}
            </div>
            <div>
                {% if event.allowIsts %}
                    <h3>{% trans %}role.ist{% endtrans %} {% trans %}dashboard-admin.count{% endtrans %}</h3>
                    <p>{% trans %}dashboard-admin.limitIst{% endtrans %}: {{ event.maximalClosedIstsCount }}</p>
                    <p>{% trans %}dashboard-admin.openIst{% endtrans %}: {{ ists.getOpenCount }}</p>
                    <p>{% trans %}dashboard-admin.lockedIst{% endtrans %}: {{ ists.getClosedCount }}</p>
                    <p>{% trans %}dashboard-admin.approvedIst{% endtrans %}: {{ ists.getApprovedCount }}
                        ({{ ists.getAfterPayment }} {% trans %}dashboard-admin.afterPayment{% endtrans %})</p>
                    <p>{% trans %}dashboard-admin.paidIst{% endtrans %}: {{ ists.getPaidCount }}</p>
                    <br>
                {% endif %}
                {% if event.allowGuests %}
                    <h3>{% trans %}role.guest{% endtrans %} {% trans %}dashboard-admin.count{% endtrans %}</h3>
                    <p>{% trans %}dashboard-admin.limitGuest{% endtrans %}
                        : {{ event.getMaximalClosedGuestsCount() }}</p>
                    <p>{% trans %}dashboard-admin.openGuest{% endtrans %}: {{ guests.getOpenCount }}</p>
                    <p>{% trans %}dashboard-admin.lockedGuest{% endtrans %}: {{ guests.getClosedCount }}</p>
                    <p>{% trans %}dashboard-admin.approvedGuest{% endtrans %}: {{ guests.getApprovedCount }}</p>
                    <p>{% trans %}dashboard-admin.paidGuest{% endtrans %}: {{ guests.getPaidCount }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <div class="card paid-theme">
        <h3>{% trans %}dashboard-admin.adminActions{% endtrans %}</h3>
        <div class="card-divide">
            <div>
                <a href="{{ url_for('admin-show-open', {'eventSlug': event.slug}) }}"
                   class="btn">{% trans %}dashboard-admin.open{% endtrans %}</a><br/>
                <a href="{{ url_for('admin-show-approving', {'eventSlug': event.slug}) }}"
                   class="btn">{% trans %}dashboard-admin.approving{% endtrans %}</a><br/>
                {% if user.role == 'admin' or user.role == 'contingentAdminCs' %}
                    <a href="{{ url_for('admin-show-auto-payments', {'eventSlug': event.slug}) }}"
                       class="btn">{% trans %}dashboard-admin.newPayments{% endtrans %}</a><br/>
                {% endif %}
                {% if user.role == 'admin' or user.role == 'contingentAdminCs' %}
                    <a href="{{ url_for('admin-show-payments', {'eventSlug': event.slug}) }}"
                       class="btn">{% trans %}dashboard-admin.confirmPayments{% endtrans %}</a><br/>
                {% endif %}
                <a href="{{ url_for('admin-show-stats', {'eventSlug': event.slug}) }}"
                   class="btn">{% trans %}dashboard-admin.showStats{% endtrans %}</a><br/>
            </div>
            <div>
                <a href="{{ url_for('admin-export-health', {'eventSlug': event.slug}) }}"
                   class="btn">{% trans %}dashboard-admin.exportMedData{% endtrans %}</a><br/>
                <a href="{{ url_for('admin-export-paid', {'eventSlug': event.slug}) }}"
                   class="btn">{% trans %}dashboard-admin.exportEmailsPaid{% endtrans %}</a><br/>
                <a href="{{ url_for('admin-export-full', {'eventSlug': event.slug}) }}"
                   class="btn">{% trans %}dashboard-admin.exportFullData{% endtrans %}</a><br/>
            </div>
        </div>
    </div>
    {% if event.eventType.isSellingIstTicketsAllowed %}
        <div class="card card-half paid-theme">
            <form method="GET" action="{{ url_for('admin-show-transfer-payment', {'eventSlug': event.slug}) }}">
                <label class="form-group">{% trans %}dashboard-admin.emailFrom{% endtrans %}:<br/>
                    <input class="form-control form-wide" name="emailFrom" type="email" required></label>
                <br/>
                <label class="form-group">{% trans %}dashboard-admin.emailTo{% endtrans %}:<br/>
                    <input class="form-control form-wide" name="emailTo" type="email" required></label>
                <br/>
                <input class="btn btn-small"
                       type="submit"
                       value="{% trans %}dashboard-admin.checkMovePayments{% endtrans %}">
            </form>
        </div>
    {% endif %}
{% endblock %}
