{% extends "_layout.twig" %}

{% block content %}
    <div class="card card-half">
        <h2>{{ 'deny-admin.deny' | trans }} {{ ('role.' ~ participant.role.value)|trans }}</h2>
        <p></p>
        <form method="post"
              action="{{ url_for('admin-deny-participant', {'participantId' : participant.getId, 'eventSlug': event.slug}) }}">
            <div class="form-group">
                <label>{{ 'deny-admin.wantDeny' | trans }} <b>{{ participant.getFullName }}</b>
                    {{ 'deny-admin.reason' | trans }}:<br/><br/>
                    <input type="text" name="reason" id="form-reason" class="form-control form-wide"
                           required="required"></label>
            </div>
            <br/>
            <a href="{{ url_for('admin-show-approving', {'eventSlug': event.slug}) }}"
               class="btn btn-small btn-grey">{{ 'deny-admin.back' | trans }}</a><br/><br/>
            <input type="submit" value="{{ 'deny-admin.denyAndSend' | trans }}" class="btn btn-small">
        </form>
    </div>
{% endblock %}
