{% extends "_layout.twig" %}

{% block content %}
    <div class="card">
        <h2>{{ 'mend-admin.headline' | trans }}</h2>
        <div>
            {% set userStatus = participant.getUserButNotNull().status.value %}
            {{ 'payments-admin.status' | trans }}: <b>{{ ('dashboard.userStatus.' ~ userStatus)|trans }}</b><br/>
            {{ 'stats-admin.role' | trans }}: <b>{{ ('role.' ~  participant.role.value)|trans }}</b>
            {% if participant is TroopLeader %}
                ({{ participant.getTroopParticipantsCount() }}x {{ 'role.tp' | trans }})
            {% elseif participant is PatrolLeader %}
                ({{ participant.getPatrolParticipantsCount() }}x {{ 'role.pp' | trans }})
            {% endif %}<br/>
            {{ 'mend-admin.tieCode' | trans }}: <b>{{ participant.tieCode }}</b>
            <br/>
            <br/>
            {{ include('widgets/detailsForAdmin.twig', {person: participant, ca: ca}) }}
            <br/>
            {{ 'mend-admin.enter' | trans }}:
            {% set entryDate = participant.getEntryDate() %}
            {% if entryDate %}
                <b>🎪 {{ entryDate|date('d. m. Y - H:i:s') }}</b>
            {% else %}
                ⌛ <i>{{ 'mend-admin.didNotEnterYet' | trans }}</i>
            {% endif %}
            <br/>
            <br/>
            {% if participant.deals %}
                -
                {% for participantDeal in participant.deals %}
                    {{ participantDeal.slug }}{% if not participantDeal.isDone %}
                    ❌
                    <form
                            method="POST"
                            action="{{ url_for('admin-set-deal-as-done', {'eventSlug': event.slug, 'participantId': participant.id, 'dealSlug': participantDeal.slug}) }}"
                    >
                        <input type="submit" class="btn btn-mini" value="{{ 'mend-admin.setDealAsDone' | trans }}">
                    </form>
                {% else %} ✅{% endif %}{{ not loop.last ? ' | ' }}
                {% endfor %}
            {% else %}
                {# TODO fix for combination of participant deals with event deals #}
                {% for eventDeal in event.eventType.getEventDeals(participant) %}
                    {{ eventDeal.slug }} ❌
                    <form
                            method="POST"
                            action="{{ url_for('admin-set-deal-as-done', {'eventSlug': event.slug, 'participantId': participant.id, 'dealSlug': eventDeal.slug}) }}"
                    >
                        <input type="submit" class="btn btn-mini" value="{{ 'mend-admin.setDealAsDone' | trans }}">
                    </form>
                    {{ not loop.last ? ' | ' }}
                {% endfor %}
            {% endif %}
        </div>
        <br/>
        {% include 'widgets/paymentList.twig' with {'payments': participant.getPayments} %}
        {% if userStatus == 'cancelled' %}
            <form
                    method="POST"
                    action="{{ url_for('admin-uncancel-participant', {'eventSlug': event.slug, 'participantId': participant.id}) }}"
            >
                <input type="submit" class="btn" value="{{ 'mend-admin.uncancelParticipant' | trans }}">
            </form>
            <br/>
        {% endif %}

        {% if participant is TroopParticipant and participant.troopLeader is not null and participant.userButNotNull.status == participant.troopLeader.userButNotNull.status %}
            <form method="POST" action="{{ url_for('admin-swap-troop-leader', {eventSlug: event.slug, participantId: participant.id}) }}" style="display:inline">
                <input type="submit" class="btn" value="{{ 'mend-admin.swapLeader' | trans }}">
            </form>
            <br/>
        {% endif %}

        {% if userStatus == 'paid' %}
            <a
                    href="{{ url_for('admin-show-participant-details-changeable', {'eventSlug': event.slug, 'participantId': participant.id}) }}"
                    class="btn">
                {{ 'mend-admin.editParticipant' | trans }}
            </a>
            <br/>
            {% if participant is not PatrolParticipant %}
                <a
                    href="{{ url_for('admin-show-add-new-payment', {'eventSlug': event.slug, 'participantId': participant.id}) }}"
                    class="btn"
                >
                    {{ 'mend-admin.addPayment' | trans }}
                </a>
                <br/>
            {% endif %}
            {% if participant is not PatrolLeader %}
                {# TODO add placeholder for PL "not supported yet" #}
                <form
                        method="POST"
                        action="{{ url_for('admin-cancel-participant', {'eventSlug': event.slug, 'participantId': participant.id}) }}"
                >
                    <input type="submit" class="btn" value="{{ 'mend-admin.cancelParticipant' | trans }}">
                </form>
                <br/>
            {% endif %}
            {% if entryDate == null %}
                <form
                        method="POST"
                        action="{{ url_for('admin-entry-participant', {'eventSlug': event.slug, 'participantId': participant.id}) }}"
                >
                    <input type="submit" class="btn" value="{{ 'mend-admin.entryParticipant' | trans }}">
                </form>
                <br/>
            {% else %}
                <form
                        method="POST"
                        action="{{ url_for('admin-unentry-participant', {'eventSlug': event.slug, 'participantId': participant.id}) }}"
                >
                    <input type="submit" class="btn" value="{{ 'mend-admin.unentryParticipant' | trans }}">
                </form>
                <br/>
            {% endif %}
        {% endif %}

        <a href="{{ url_for('admin-dashboard', {'eventSlug': event.slug}) }}"
           class="btn btn-grey btn-small">{{ 'changeDetails.back' | trans }}</a>
    </div>
{% endblock %}
