{% extends "_layout.twig" %}

{% block content %}
    <div class="card">
        <h2>{{ 'organizingTeam-admin.title' | trans }} {{ event.readableName }}</h2>
        <a href="{{ url_for('admin-dashboard', {'eventSlug': event.slug}) }}"
           class="btn btn-grey btn-small">{{ 'payments-admin.back' | trans }}</a>
    </div>
    {% if otRegistrationUrl %}
        <div class="card">
            <h3>{{ 'organizingTeam-admin.registrationUrl' | trans }}</h3>
            <p>{{ 'organizingTeam-admin.registrationUrlDescription' | trans }}</p>
            <input type="text" class="form-control form-wide" value="{{ otRegistrationUrl }}" readonly onclick="this.select()">
            <br/>
            <form method="POST" action="{{ url_for('admin-organizing-team-regenerate-token', {'eventSlug': event.slug}) }}">
                <input type="submit" class="btn btn-grey btn-small" value="{{ 'organizingTeam-admin.regenerateToken' | trans }}">
            </form>
        </div>
    {% endif %}
    <div class="card">
        <h3>{{ 'organizingTeam-admin.participants' | trans }}</h3>
        {% if organizingTeamParticipants %}
            <table>
                <thead>
                <tr>
                    <th>{{ 'organizingTeam-admin.name' | trans }}</th>
                    <th>{{ 'organizingTeam-admin.email' | trans }}</th>
                    <th>{{ 'organizingTeam-admin.status' | trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for p in organizingTeamParticipants %}
                    <tr>
                        <td>{{ p.getFullName() }}</td>
                        <td>{{ p.getUserButNotNull().email }}</td>
                        <td>{{ p.getUserButNotNull().status.value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{{ 'organizingTeam-admin.noParticipants' | trans }}</p>
        {% endif %}
    </div>
{% endblock %}
