{% extends "_layout.twig" %}

{% block content %}
    <div class="card">
        <h2>{{ 'payments-admin.confirmText' | trans }} {{ event.readableName }}</h2>
        <p>{{ 'payments-admin.paymentsAreAutomatic' | trans }}</p>
        <form action="{{ url_for('admin-update-payments', {'eventSlug': event.slug} ) }}" method="POST">
            <input type="submit" class="btn btn-small" value="{{ 'paymentsAuto-admin.update' | trans }}">
        </form>
        <br/>
        <a href="{{ url_for('admin-dashboard', {'eventSlug': event.slug} ) }}"
           class="btn btn-grey btn-small">{{ 'payments-admin.back' | trans }}</a>
    </div>
    <div class="card">
        <h3>{{ 'paymentsAuto-admin.needToSolve' | trans }}</h3>
        {% if bankPaymentsTodo %}
        <table class="">
            <thead>
            <tr>
                <th>{{ 'paymentsAuto-admin.date' | trans }}</th>
                <th>{{ 'paymentsAuto-admin.accountNumber' | trans }}</th>
                <th>{{ 'paymentsAuto-admin.price' | trans }}</th>
                <th>{{ 'paymentsAuto-admin.vs' | trans }}</th>
                <th>{{ 'paymentsAuto-admin.note' | trans }}</th>
                <th>{{ 'paymentsAuto-admin.message' | trans }}</th>
                <th>{{ 'paymentsAuto-admin.status' | trans }}</th>
                <th>akce</th>
            </tr>
            </thead>
            <tbody>
            {% for p in bankPaymentsTodo %}
                <tr>
                    <td>{{ p.getMoveDate | date('d.m.Y') }}</td>
                    <td>{{ p.getAccountNumber }}</td>
                    <td>{{ p.getPrice }} {{ p.getCurrency }}</td>
                    <td>{{ p.getVariableSymbol }}</td>
                    <td>{{ p.getNote }}</td>
                    <td>{{ p.getMessage }}</td>
                    <td>{{ p.getStatus }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('admin-set-payment-paired', {'paymentId': p.getId, 'eventSlug': event.slug}) }}">
                            <label>VS: <input type="text" name="notice" required></label>
                            <input type="submit" class="btn btn-mini" value="{{ 'paymentsAuto-admin.markPaymentPaired' | trans }}">
                        </form>
                        <form method="POST" action="{{ url_for('admin-set-payment-unrelated', {'paymentId': p.getId, 'eventSlug': event.slug}) }}">
                            <input type="submit" class="btn btn-grey btn-mini" value="{{ 'paymentsAuto-admin.markPaymentUnrelated' | trans }}">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ 'paymentsAuto-admin.allPaymenntsDone' | trans }}</p>
        {% endif %}
    </div>
    <div class="card">
        <h3>{{ 'paymentsAuto-admin.paymentsOnAccount' | trans }} {{ event.accountNumber }}</h3>
        {% if bankPayments %}
            <table class="">
                <thead>
                <tr>
                    <th>{{ 'paymentsAuto-admin.date' | trans }}</th>
                    <th>{{ 'paymentsAuto-admin.accountNumber' | trans }}</th>
                    <th>{{ 'paymentsAuto-admin.price' | trans }}</th>
                    <th>{{ 'paymentsAuto-admin.vs' | trans }}</th>
                    <th>{{ 'paymentsAuto-admin.note' | trans }}</th>
                    <th>{{ 'paymentsAuto-admin.message' | trans }}</th>
                    <th>{{ 'paymentsAuto-admin.status' | trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for p in bankPayments %}
                    <tr>
                        <td>{{ p.getMoveDate | date('d.m.Y') }}</td>
                        <td>{{ p.getAccountNumber }}</td>
                        <td>{{ p.getPrice }} {{ p.getCurrency }}</td>
                        <td>{{ p.getVariableSymbol }}</td>
                        <td>{{ p.getNote }}</td>
                        <td>{{ p.getMessage }}</td>
                        <td>{{ p.getStatus }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{{ 'paymentsAuto-admin.noPayments' | trans }}</p>
        {% endif %}
    </div>
{% endblock %}
