{% extends "_layout.twig" %}

{% block content %}
    <script src="{{ base_path() }}/js/admin-ajax-submit.js" defer></script>
    <div class="card">
        <h2>{{ 'payments-admin.confirmText' | trans }} {{ event.readableName }}</h2>
        {% if event.getEventType.isUnlockExpiredButtonAllowed %}
            <form method="POST" action="{{ url_for('admin-cancel-due-payments', {'eventSlug': event.slug} ) }}">
                <input type="submit" class="btn btn-small" value="{{ 'payments-admin.openDuePayments' | trans }}">
            </form><br/>
        {% endif %}
        <a href="{{ url_for('admin-dashboard', {'eventSlug': event.slug} ) }}"
           class="btn btn-grey btn-small">{{ 'payments-admin.back' | trans }}</a>
    </div>

    {% if event.allowIsts %}
        {% if approvedIsts is empty %}
            <div class="card">
                <h2>{{ 'payments-admin.allIstsPaid' | trans }}</h2>
            </div>
        {% else %}
            <div class="card">
                <h2>{{ 'role.ist' | trans }}</h2>
            </div>
            {% for ist in approvedIsts %}
                <div class="card">
                    {% include 'widgets/paymentDetails.twig' with {
                        'person': ist,
                        'ca': event.getEventType.getContentArbiterIst,
                    } %}
                </div>
            {% endfor %}
        {% endif %}
        <br/>
    {% endif %}
    
    {% if event.allowPatrols %}
        {% if approvedPatrolLeaders is empty %}
            <div class="card">
                <h2>{{ 'payments-admin.allPatrolsPaid' | trans }}</h2>
            </div>
        {% else %}
            <div class="card">
                <h2>{{ 'role.pl' | trans }}</h2>
            </div>
            {% for pl in approvedPatrolLeaders %}
                <div class="card">
                    {% include 'widgets/paymentDetails.twig' with {
                        'person': pl,
                        'ca': event.getEventType.getContentArbiterPatrolLeader,
                    } %}
                </div>
            {% endfor %}
        {% endif %}
        <br/>
    {% endif %}
    
    {% if event.allowTroops %}
        {% if approvedTroopLeaders is empty %}
            <div class="card">
                <h2>{{ 'payments-admin.allTroopLeadersPaid' | trans }}</h2>
            </div>
        {% else %}
            <div class="card">
                <h2>{{ 'role.tl' | trans }}</h2>
            </div>
            {% for tl in approvedTroopLeaders %}
                <div class="card">
                    {% include 'widgets/paymentDetails.twig' with {
                        'person': tl,
                        'ca': event.getEventType.getContentArbiterTroopLeader,
                    } %}
                </div>
            {% endfor %}
        {% endif %}
        <br/>
    {% endif %}

    {% if event.allowOrganizingTeam %}
        {% if approvedOrganizingTeam is empty %}
            <div class="card">
                <h2>{{ 'payments-admin.allOrganizingTeamPaid' | trans }}</h2>
            </div>
        {% else %}
            <div class="card">
                <h2>{{ 'role.ot' | trans }}</h2>
            </div>
            {% for ot in approvedOrganizingTeam %}
                <div class="card">
                    {% include 'widgets/paymentDetails.twig' with {
                        'person': ot,
                        'ca': event.getEventType.getContentArbiterOrganizingTeam,
                    } %}
                </div>
            {% endfor %}
        {% endif %}
        <br/>
    {% endif %}
{% endblock %}
