{% extends "_layout.twig" %}

{% block content %}
    <div class="card">
        <h2>{% trans %}roleManagement.title{% endtrans %}</h2>
        <p>{% trans %}roleManagement.description{% endtrans %}</p>
        <a href="{{ url_for('admin-dashboard', {'eventSlug': event.slug}) }}"
           class="btn btn-grey btn-small">{% trans %}roleManagement.back{% endtrans %}</a>
    </div>

    <div class="card card-half">
        <form method="POST" action="{{ url_for('admin-save-role-management', {'eventSlug': event.slug}) }}">
            <input type="hidden" name="role" value="total">
            <h3>{% trans %}roleManagement.totalMax{% endtrans %}</h3>
            <p>{% trans %}roleManagement.actualMaxCount{% endtrans %}: <strong>{{ maximalClosedParticipantsCount ?? 0 }}</strong></p>
            <p>{% trans %}roleManagement.dbMaxCount{% endtrans %}: <strong>{{ maximalClosedParticipantsCount ?? 0 }}</strong></p>
            <label class="form-group">
                {% trans %}roleManagement.maxParticipantsTotal{% endtrans %}:<br/>
                <input class="form-control form-wide" type="number" name="maximalClosedParticipantsCount"
                       value="{{ maximalClosedParticipantsCount }}" min="0">
            </label>
            <br/>
            <input type="submit" class="btn" value="{% trans %}roleManagement.save{% endtrans %}">
        </form>
    </div>

    <div class="two-cards">
        {% for config in roleConfigurations %}
            <div class="card">
                {% include 'admin/role-card.twig' with {'config': config} %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
