{% extends "_layout.twig" %}

{% block content %}
    <div class="card">
        <h2>{% trans %}troopManagement-admin.troopManagement{% endtrans %}</h2>
        <a href="{{ url_for('admin-dashboard', {'eventSlug': event.slug} ) }}"
           class="btn btn-grey btn-small">{% trans %}payments-admin.back{% endtrans %}</a>
    </div>
    <div class="card approved-theme">
        <h2>{% trans %}troopManagement-admin.tieTogether{% endtrans %}</h2>
        <form
                method="POST"
                action="{{ url_for('admin-troop-tie-together', {'eventSlug': event.slug}) }}"
                class="form-group form-group-middle"
        >
            <label for="tieCodeLeader">{% trans %}dashboard.codeForTieToTroop{% endtrans %}:</label>
            <input
                    id="tieCodeLeader"
                    name="tieCodeLeader"
                    type="text"
                    required="required"
                    class="form-control"
                    pattern="[a-zA-Z]{6}"
                    title="{% trans %}dashboard.tieCodeFormat{% endtrans %}"
                    placeholder="ABCDEF"
            >
            <label for="tieCodeParticipant">{% trans %}dashboard.tieCodeLabel{% endtrans %}:</label>
            <input
                    id="tieCodeParticipant"
                    name="tieCodeParticipant"
                    type="text"
                    required="required"
                    class="form-control"
                    pattern="[a-zA-Z]{6}"
                    title="{% trans %}dashboard.tieCodeFormat{% endtrans %}"
                    placeholder="ABCDEF"
            >
            <input type="submit" value="{% trans %}dashboard.tie{% endtrans %}"
                   class="btn btn-small">
        </form>
    </div>

    {% if troopLeaders is empty %}
        <div class="card closed-theme">
            <h2>{% trans %}troopManagement-admin.noTroopLeaders{% endtrans %}</h2>
        </div>
    {% else %}
        <div class="card approved-theme">
            <h2>{% trans %}troopManagement-admin.openTroopLeaders{% endtrans %}</h2>
        </div>
        <div class="card-double-layout">
            {% for tl in troopLeaders %}
                <div class="card card-double approved-theme">
                    {% trans %}dashboard.tieCode{% endtrans %}: <b>{{ tl.tieCode }}</b><br/>
                    {% include 'widgets/detailsForAdmin.twig' with {
                        'person': tl,
                        'ca': event.getEventType.getContentArbiterTroopLeader,
                    } %}
    
                    <h4>{% trans %}role.tp{% endtrans %} {% trans %}dashboard.details{% endtrans %}</h4>
                    {% for tp in tl.troopParticipants %}
                        {% include 'widgets/detailsForAdmin.twig' with {
                            'person': tp,
                            'ca': caTl,
                            'useShortNaming': true
                        } %}
                        <br/>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <br/>
    {% endif %}

    {% if troopParticipants is empty %}
        <div class="card closed-theme">
            <h2>{% trans %}troopManagement-admin.noTroopParticipants{% endtrans %}</h2>
        </div>
        <br/>
    {% else %}
        <div class="card closed-theme">
            <h2>{% trans %}troopManagement-admin.troopParticipantsWithoutLeader{% endtrans %}</h2>
        </div>
        <div class="card-double-layout">
            {% for tp in troopParticipants %}
                <div class="card card-double closed-theme">
                    {% trans %}dashboard.tieCode{% endtrans %}: <b>{{ tp.tieCode }}</b><br/>
                    {% include 'widgets/detailsForAdmin.twig' with {
                        'person': tp,
                        'ca': caTp,
                        'useShortNaming': true
                    } %}
                    <br/>
                </div>
                <br/>
            {% endfor %}
        </div>
    {% endif %}
    <div class="card">
        <a href="{{ url_for('admin-dashboard', {'eventSlug': event.slug} ) }}"
           class="btn btn-grey btn-small">{% trans %}payments-admin.back{% endtrans %}</a>
    </div>
{% endblock %}
