<!DOCTYPE html>
<html>
<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111008480-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}

		gtag('js', new Date());
		gtag('config', 'UA-111008480-1');
	</script>

	<meta charset="utf-8"/>
	<title>kissj - registrační systém pro skauty</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="{{ base_url() }}/public/styles.css">
	<link rel="script" href="{{ base_url() }}/public/date-polyfill.js">
</head>

<body>
<div class="wrapper">
	<h1 class="text-center">kissj - registrační systém pro skauty</h1>
	<div class="user text-right">
		{% if user is not null %}
			{{ user.email }}
			<a class="" href="{{ path_for('logout') }}">Odhlásit se</a>
			{% set userStatus = userRole.status %}
		{% else %}
			{% set userStatus = "unregistred" %}
		{% endif %}
		<br/>
	</div>
	<div class="flash-wrapper">
		{% for flashMessage in flashMessages.dumpMessagesIntoArray() %}
			<div class="alert alert-{{ flashMessage['type'] }}">
				{{ flashMessage['message'] }}
			</div>
		{% endfor %}
	</div>
	<main role="main" class="container">
		{% block content %}{% endblock %}
	</main>
</div>
</body>
</html>
