{% extends "_layout.twig" %}

{% block content %}
	<div class="text-center">
		<h2>Dashboard PL</h2>
		ID: {{ user.id }}<br/>
		Přihlášený s emailem: {{ user.email }}<br/>
		<a class="btn btn-primary" href="{{ path_for('logout') }}">Odhlásit se</a><br/>
		<h2>PL údaje o sobě</h2>
		<a class="btn btn-primary" href="{{ path_for('pl-changeDetails') }}">Změnit údaje o sobě</a><br/>
		Název patroly: {{ plDetails.getPatrolName }}<br/>
		Křestní jméno: {{ plDetails.getFirstName }}<br/>
		Příjmení: {{ plDetails.getLastName }}<br/>
		Alergie: {{ plDetails.getAllergies }}<br/>
		Datum narození: {{ plDetails.getBirthDate.format('Y-m-d') }}<br/>
		Místo narození: {{ plDetails.getBirthPlace }}<br/>
		Země: {{ plDetails.getCountry }}<br/>
		Gender: {{ plDetails.getGender }}<br/>
		Trvalá adresa: {{ plDetails.getPermanentResidence }}<br/>
		Skautská jednotka: {{ plDetails.getScoutUnit }}<br/>
		Telefoní kontakt: {{ plDetails.getTelephoneNumber }}<br/>
		Email: {{ plDetails.getEmail }}<br/>
		Dieta: {{ plDetails.getFoodPreferences }}<br/>
		Číslo pasu/OP: {{ plDetails.getCardPassportNumber }}<br/>
		Poznámky: {{ plDetails.getNotes }}<br/>
		<br/>
		<br/>
		<h2>Seznam účastníků</h2>
		<a class="btn btn-primary" href="{{ path_for('pl-addParticipant') }}">Přidat účastníka</a><br/>
		{% for participant in pDetails %}
			<p>Účastník {{ participant.getFirstName }} {{ participant.getLastName }}
				<a class="btn btn-primary"
				   href="{{ path_for('p-change-details', {'participantId': participant.getId}) }}">Edit</a>
			<form method="post" action="{{ path_for('p-delete', {'participantId': participant.getId}) }}">
				<input type="submit" class="btn btn-danger" value="Delete">
			</form>
			</p>
		{% endfor %}
		<br/>
		<br/>
		<a class="btn btn-danger" href="{{ path_for('pl-closeRegistration') }}">Uzavřít registraci</a>
	</div>
{% endblock %}