{% extends "emails/_mail-layout.twig" %}

{% block content %}
    <p>Ahoj,</p>
    <p>právě jsme schválili
        Tvoji registraci na <b>Korbo 2019</b>! K plnohodnotné registraci Ti chybí už jen jediný krok, a to do <b>sedmi
            dní</b> zaplatit účastnický poplatek.</p>

    <h3><u>Platební informace</u></h3>
    <h3>Číslo transparentního účtu: <a href="https://ib.fio.cz/ib/transparent?a=2501628268">{{ accountNumber }}</a>
    </h3>
    <h3>Částka: minimálně {{ price }} {{ currency }}</h3>
    <h3>Variabilní symbol: {{ variableSymbol }}</h3>
    <h3>Poznámka: Korbo 2019 {{ istFullName }}
    </h3>

    <p>V případě, že nesouhlasíš s tím, že by se Tvá platba měla objevit na transparentním účtu Korba, <b>zatím
            neplať</b> a
        napiš nám prosím na mail <a href="mailto:korbo@skaut.cz">korbo@skaut.cz</a><span class="noselect">.</span></p>

    <p>V případě jakýchkoliv nejasností se můžeš podívat do registrace:
        <a href="https://korbo.skauting.cz/registrace">https://korbo.skauting.cz/registrace</a>
        <span class="noselect">, </span>na web: <a href="https://korbo.skauting.cz">https://korbo.skauting.cz</a>
        nebo nebo nám napsat na výše uvedený Korbo mail.</p>

    <p>Děkujeme, <br/>
        Korbo tým 2019</p>
{% endblock %}
