<!DOCTYPE html>
<html lang="en">

{# TODO make more smartyy #}
{% if event is null %}
    {% set event = [] %}
    {% set event = event|merge({'readableName': 'Korbo 2020', 'webUrl': 'https://korbo.skauting.cz/'}) %}
{% endif %}

<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">

    <title>Registration - {{ event.readableName }} - kissj</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ base_url() }}/public/styles.css">

    <script src="{{ base_url() }}/public/date-polyfill.js" defer></script>
</head>

<body lang="{{ locale }}">
<div class="wrapper">
    <h1 class="text-center">Registration - {{ event.readableName }}</h1>
    <div class="user text-right">
        {% if user is not null %}
            {{ user.email }}
            <a class="" href="{{ path_for('logout') }}">Log out</a>
            {% set userStatus = user.status %}
        {% else %}
            {% set userStatus = "unregistred" %}
        {% endif %}
        <br/>
    </div>
    <ul class="progressbar">
        <li class="progressbar-item progressbar-item-registration {% if userStatus == 'unregistred' %}is-active{% endif %}">
            Registration
        </li>
        <li class="progressbar-item {% if userStatus == 'open' %}is-active{% endif %}">Editing</li>
        <li class="progressbar-item {% if userStatus == 'closed' %}is-active{% endif %}">Locked</li>
        <li class="progressbar-item {% if userStatus == 'approved' %}is-active{% endif %}">Approved</li>
        <li class="progressbar-item {% if userStatus == 'paid' %}is-active{% endif %}">Payed! ;)</li>
    </ul>
    <div class="flash-wrapper">
        {% for flashMessage in flashMessages.dumpMessagesIntoArray() %}
            <div class="alert alert-{{ flashMessage['type'] }}">
                {{ flashMessage['message'] }}
            </div>
        {% endfor %}
    </div>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
    <footer>
        <span class="footer-item">{{ event.readableName }} - 
            <a href="https://devs.skauting.cz/" target="_blank">with ♥ created by Lung</a></span>
        <a href="{{ event.webUrl }}" class="footer-item" target="_blank">
            <img src="/public/logo.png" alt="logo of {{ event.readableName }}">
        </a>
    </footer>
</div>
</body>
</html>
