{% extends "_layout.twig" %}

{% block content %}
    {% set userStatus = ist.user.status %}
    <div class="card {{ userStatus }}-theme">
        <h2>{{ event.getIstLabel|capitalize }}{% trans %}dashboard-ist.details{% endtrans %}</h2>
        <h4>
            {% include('widgets/userCustomHelp.twig') with {'userRole': 'ist'} %}
        </h4>
        {% if userStatus == 'approved' %}
            <div class="paymentInfo">
                <h2>{% trans %}dashboard-ist.paymentInfo{% endtrans %}</h2>
                {% trans %}dashboard-ist.accountNumber{% endtrans %} <b>{{ payment.getAccountNumber }}</b><br/>
                {% trans %}dashboard-ist.amount{% endtrans %} <b>{{ payment.getPrice }} {{ payment.currency }}</b><br/>
                {% trans %}dashboard-ist.variableSymbol{% endtrans %} <b>{{ payment.getVariableSymbol }}</b><br/>
                {% trans %}dashboard-ist.paymentNote{% endtrans %} <b>{{ payment.getNote }}</b><br/>
                <br/>
            </div>
        {% endif %}

        <div>
            <h2>{% trans %}dashboard-ist.personalInfo{% endtrans %}</h2>
            {% if userStatus == 'open' %}
                <a class="btn btn-small" href="{{ url_for('ist-showDetailsChangeable', {'eventSlug': event.slug}) }}">
                    {% trans %}dashboard-ist.editDetails{% endtrans %}</a><br/><br/>
            {% endif %}
            <div class="text-center">
                {% trans %}dashboard-ist.firstName{% endtrans %} <b>{{ ist.getFirstName }}</b><br/>
                {% trans %}dashboard-ist.surname{% endtrans %} <b>{{ ist.getLastName }}</b><br/>
                {% trans %}dashboard-ist.scoutNick{% endtrans %} <b>{{ ist.getNickname }}</b><br/>
                {% trans %}dashboard-ist.birthDate{% endtrans %} <b>{{ ist.getBirthDate.format('d. m. Y') }}</b><br/>
                {% trans %}dashboard-ist.gender{% endtrans %} <b>{{ ist.getGender }}</b><br/>
                {#Email: <b>{{ ist.getEmail }}</b><br/>
                Phone number: <b>{{ ist.getTelephoneNumber }}</b><br/>#}
                {% trans %}dashboard-ist.address{% endtrans %} <b>{{ ist.getPermanentResidence }}</b><br/>
                {% trans %}dashboard-ist.country{% endtrans %} <b>{{ ist.getCountry }}</b><br/>
                {% trans %}dashboard-ist.unit{% endtrans %} <b>{{ ist.getScoutUnit }}</b><br/>
                {#T-shirt size: <b>{{ ist.getTshirt }}</b><br/>
                Diet Restriction: <b>{{ ist.getFoodPreferences }}</b><br/>#}
                {% trans %}dashboard-ist.issues{% endtrans %} <b>{{ ist.getHealthProblems }}</b><br/>
                {#Languages you speak + level: <b>{{ ist.getLanguages }}</b><br/>
                Swimming skill: <b>{{ ist.getSwimming }}</b><br/>
                Drivers licence: <b>{{ ist.getDriversLicense }}</b><br/>
                Skills: <b>{{ ist.getSkills }}</b><br/>
                Preferred positions: <b>{{ ist.preferredPosition|join(', ', ' and ') }}</b><br/>#}
                {% trans %}dashboard-ist.scarf{% endtrans %} <b>{{ ist.getScarf }}</b><br/>
                {% trans %}dashboard-ist.personalNotes{% endtrans %} <b>{{ ist.getNotes }}</b><br/>
                <br/>
            </div>
        </div>

        {% if userStatus == 'open' %}
            <a class="btn btn-small" href="{{ url_for('ist-showCloseRegistration', {'eventSlug': event.slug}) }}">
                {% trans %}dashboard-ist.lockRegistration{% endtrans %}</a>
        {% endif %}
    </div>
{% endblock %}
