{% extends "_layout.twig" %}

{% block content %}
	{% set userStatus = ist.user.status %}
	<div class="card {{ userStatus }}-theme">
		<h2>IST - details</h2>
		<h4>
			{{ userCustomHelp }} {# TODO continue #}
		</h4>
		{% if userStatus == 'approved' %}
			<div class="paymentInfo">
				<h2>Payment information</h2>
				Account number: <b>{{ payment.getAccountNumber }}</b><br/>
				Amount: <b>{{ payment.getPrice }} EUR</b><br/>
				Variabile symbol: <b>{{ payment.getVariableSymbol }}</b><br/>
				Note: <b>{{ ist.user.event.readableName }} {{ ist.getFirstName }} {{ ist.getLastName }}</b><br/>
				<br/>
			</div>
		{% endif %}

		<div>
			<h2>Personal information</h2>
			{% if userStatus == 'open' %}
				<a class="btn btn-small" href="{{ path_for('ist-showDetailsChangeable', {'eventSlug': event.slug}) }}">
					Edit my details</a><br/><br/>
			{% endif %}
			<div class="text-center">
				First name: <b>{{ ist.getFirstName }}</b><br/>
				Surname: <b>{{ ist.getLastName }}</b><br/>
				Scout nickname: <b>{{ ist.getNickname }}</b><br/>
				Date of birth: <b>{{ ist.getBirthDate.format('d. m. Y') }}</b><br/>
				Gender: <b>{{ ist.getGender }}</b><br/>
				Email: <b>{{ ist.getEmail }}</b><br/>
				Phone number: <b>{{ ist.getTelephoneNumber }}</b><br/>
				Permanent Address: <b>{{ ist.getPermanentResidence }}</b><br/>
				Country: <b>{{ ist.getCountry }}</b><br/>
				Scout unit: <b>{{ ist.getScoutUnit }}</b><br/>
				T-shirt size: <b>{{ ist.getTshirt }}</b><br/>
				Diet Restriction: <b>{{ ist.getFoodPreferences }}</b><br/>
				Health issues: <b>{{ ist.getHealthProblems }}</b><br/>
				Languages you speak + level: <b>{{ ist.getLanguages }}</b><br/>
				Swimming skill: <b>{{ ist.getSwimming }}</b><br/>
				Drivers licence: <b>{{ ist.getDriversLicense }}</b><br/>
				Skills: <b>{{ ist.getSkills }}</b><br/>
				Preferred positions: <b>{{ ist.preferredPosition|join(', ', ' and ') }}</b><br/>
				Notes: <b>{{ ist.getNotes }}</b><br/>
				<br/>
			</div>
		</div>

		{% if userStatus == 'open' %}
			<a class="btn btn-small" href="{{ path_for('ist-showCloseRegistration', {'eventSlug': event.slug}) }}">
				Lock registration</a>
		{% endif %}
	</div>
{% endblock %}
