{% extends "_layout.twig" %}

{% block content %}
    {% set userStatus = fp.user.status %}
    <div class="card {{ userStatus }}-theme">
        <h2>Free Participant - details</h2>
        <h4>
            {% include('widgets/userCustomHelp.twig') with {'userRole': 'fp'} %}
        </h4>
        {% if userStatus == 'approved' %}
            <div class="paymentInfo">
                <h2>Payment information</h2>
                International Bank Account Number (IBAN): {{ payment.getAccountNumber }}<br/>
                SWIFT/BIC: TATRSKBX<br/>
                Amount: {{ payment.getPrice }} EUR<br/>
                Variable symbol: 51220 {# TODO fix for general event #}<br/>
                Constant symbol (may be not available in your bank): 0558<br/>
                Note: {{ payment.getNote }}<br/>
                <br/>
            </div>
        {% endif %}

        <div>
            <h2>Personal information</h2>
            {% if userStatus == 'open' %}
                <a class="btn btn-small" href="{{ url_for('fp-showDetailsChangeable', {'eventSlug': event.slug}) }}">
                    Edit my details</a><br/><br/>
            {% endif %}
            <div class="text-center">
                First name: <b>{{ fp.getFirstName }}</b><br/>
                Surname: <b>{{ fp.getLastName }}</b><br/>
                Scout nickname: <b>{{ fp.getNickname }}</b><br/>
                Date of birth: <b>{{ fp.getBirthDate.format('d. m. Y') }}</b><br/>
                Gender: <b>{{ fp.getGender }}</b><br/>
                Email: <b>{{ fp.getEmail }}</b><br/>
                Phone number: <b>{{ fp.getTelephoneNumber }}</b><br/>
                Permanent Address: <b>{{ fp.getPermanentResidence }}</b><br/>
                Country: <b>{{ fp.getCountry }}</b><br/>
                Scout unit: <b>{{ fp.getScoutUnit }}</b><br/>
                Diet Restriction: <b>{{ fp.getFoodPreferences }}</b><br/>
                Health issues: <b>{{ fp.getHealthProblems }}</b><br/>
                Legal Representative (name + mail): <b>{{ fp.getLegalRepresentative }}</b><br/>
                Leader (name + mail): <b>{{ fp.getNotes }}</b><br/>
                <br/>
            </div>
        </div>

        {% if userStatus == 'open' %}
            <a class="btn btn-small" href="{{ url_for('fp-showCloseRegistration', {'eventSlug': event.slug}) }}">
                Lock registration</a>
        {% endif %}
    </div>
{% endblock %}
