{% extends "_layout.twig" %}

{% block content %}
	<div class="card open-theme">
		<h2>Participant details</h2>
		First name: {{ pDetails.getFirstName }}<br/>
		Surname: {{ pDetails.getLastName }}<br/>
		Gender: {{ pDetails.getGender }}<br/>
		Date of birth: {{ pDetails.getBirthDate.format('Y-m-d') }}<br/>
		Place of birth {{ pDetails.getBirthPlace }}<br/>
		Permanent address: {{ pDetails.getPermanentResidence }}<br/>
		Country: {{ pDetails.getCountry }}<br/>
		ID/passport nr.: {{ pDetails.getCardPassportNumber }}<br/>
		Diet restriction: {{ pDetails.getFoodPreferences }}<br/>
		Alergies: {{ pDetails.getAllergies }}<br/>
		Phone number: {{ pDetails.getTelephoneNumber }}<br/>
		Email: {{ pDetails.getEmail }}<br/>
		Scout group: {{ pDetails.getScoutUnit }}<br/>
		Notes: {{ pDetails.getNotes }}<br/>
		<br/>
		<a class="btn btn-grey btn-small" href="{{ path_for('pl-dashboard') }}">Back</a>
	</div>
{% endblock %}