<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">

    <title>Registrace Korbo 2019 - kissj</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ base_url() }}/public/styles.css">

    <script src="{{ base_url() }}/public/date-polyfill.js" defer></script>
</head>

<body lang="cs">
<div class="wrapper">
    <h1 class="text-center">Registrace na Korbo 2019</h1>
    <div class="user text-right">
        {% if user is not null %}
            {{ user.email }}
            <a class="" href="{{ path_for('logout') }}">Odhlásit se</a>
            {% set userStatus = userRole.status %}
        {% else %}
            {% set userStatus = "unregistred" %}
        {% endif %}
        <br/>
    </div>
    <ul class="progressbar">
        <li class="progressbar-item progressbar-item-registration progressbar-arrow-right {% if userStatus == 'unregistred' %}is-active{% endif %}">
            Registrace
        </li>
        <li class="progressbar-item {% if userStatus == 'open' %}is-active{% endif %}">Vyplnění údajů</li>
        <li class="progressbar-item {% if userStatus == 'closed' %}is-active{% endif %}">Uzamčená přihláška</li>
        <li class="progressbar-item {% if userStatus == 'approved' %}is-active{% endif %}">Schválená přihláška</li>
        <li class="progressbar-item {% if userStatus == 'paid' %}is-active{% endif %}">Zaplaceno!</li>
    </ul>
    <div class="flash-wrapper">
        {% for flashMessage in flashMessages.dumpMessagesIntoArray() %}
            <div class="alert alert-{{ flashMessage['type'] }}">
                {{ flashMessage['message'] }}
            </div>
        {% endfor %}
    </div>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
    <footer>
        <a href="https://devs.skauting.cz/">S ♥ vybrousil Lung</a>
    </footer>
</div>
</body>
</html>
