<script src="{{ base_path() }}/js/admin-note.js" type="module"></script>
<form
        class="admin-note-form"
        method="POST"
        action="{{ url_for('admin-change-note', {'participantId': participantId, 'eventSlug': event.slug}) }}"
>
    <label for="adminNote-{{ participantId }}">
        <i>{% trans %}detail.adminNotice{% endtrans %}:</i>
    </label>
    <input type="text" id="adminNote-{{ participantId }}" name="adminNote" value="{{ person.adminNote }}">
    <input type="submit" class="btn btn-small btn-mini" value="{% trans %}dashboard-admin.changeNotice{% endtrans %}">
    <span class="formResult">✔</span>
</form>
