 <script>
        function OnBirthDateChange(element) {
            if (element.value) {
                let EighteenMinusForms = ["uploadFile", "supervisor"]
                let birthTimestamp = new Date(element.value)
                let isUnderEighteen = birthTimestamp.setFullYear(birthTimestamp.getFullYear() + 18) / 1000 > {{ event.startDay.getTimestamp() }}
                for(let f of EighteenMinusForms) {
                    let EighteenMinusFormElement = document.getElementById(f+"Form")
                    if(!EighteenMinusFormElement) continue;
                    if(isUnderEighteen) {
                        EighteenMinusFormElement.hidden = false
                        document.getElementById(f).setAttribute("required", "true")
                    } else {
                        EighteenMinusFormElement.hidden = true
                        document.getElementById(f).removeAttribute("required")
                    }
                }
            }
        }
        window.addEventListener( "load", () => OnBirthDateChange(document.getElementById("birthDate")))
    </script>
{% if ca.contingent %}
    <div class="form-group">
        <label for="contingent">{% trans %}detail.contingentTitle{% endtrans %}:</label>
        <select
            id="contingent"
            class="form-control form-wide"
            name="contingent"
            required="required"
        >
            {% for contingent in event.eventType.getContingents() %}
                <option
                    value="{{ contingent }}"
                    {% if personDetails.getContingent == contingent %} selected="selected"{% endif %}
                >
                    {{ contingent | trans }}
                </option>
            {% endfor %}
        </select>
    </div>
{% endif %}{% if ca.patrolName %}
    <div class="form-group">
        <label for="patrolName">{% trans %}detail.patrolName{% endtrans %}:</label>
        <input
            id="patrolName"
            class="form-control form-wide"
            type="text"
            name="patrolName"
            placeholder="{% trans %}detail.patrolNamePlaceholder{% endtrans %}"
            value="{{ personDetails.getPatrolName }}"
            required="required"
        >
    </div>
{% endif %}{% if ca.firstName %}
    <div class="form-group">
        <label for="firstName">{% trans %}detail.firstName{% endtrans %}:</label>
        <input
            id="firstName"
            class="form-control form-wide"
            type="text"
            name="firstName"
            placeholder="{% trans %}detail.firstNamePlaceholder{% endtrans %}"
            value="{{ personDetails.getFirstName }}"
            required="required"
        >
    </div>
{% endif %}{% if ca.lastName %}
    <div class="form-group">
        <label for="lastName">{% trans %}detail.surname{% endtrans %}:</label>
        <input
            id="lastName"
            class="form-control form-wide"
            type="text"
            name="lastName"
            placeholder="{% trans %}detail.surnamePlaceholder{% endtrans %}"
            value="{{ personDetails.getLastName }}"
            required="required"
        >
    </div>
{% endif %}{% if ca.nickname %}
    <div class="form-group">
        <label for="nickname">{% trans %}detail.scoutNick{% endtrans %}:</label>
        <input
            id="nickname"
            class="form-control form-wide"
            type="text"
            name="nickname"
            placeholder="{% trans %}detail.scoutNickPlaceholder{% endtrans %}"
            value="{{ personDetails.getNickname }}"
        >
    </div>
{% endif %}{% if ca.gender %}
    <div class="form-group">
        <label for="gender">{% trans %}detail.gender{% endtrans %}:</label>
        <select
            id="gender"
            class="form-control form-wide"
            name="gender"
            required="required"
        >
            <option value="man" {% if personDetails.getGender == 'man' %}selected="selected"{% endif %}>
                {% trans %}detail.genderMan{% endtrans %}
            </option>
            <option value="woman" {% if personDetails.getGender == 'woman' %}selected="selected"{% endif %}>
                {% trans %}detail.genderWoman{% endtrans %}
            </option>
            <option value="other" {% if personDetails.getGender == 'other' %}selected="selected"{% endif %}>
                {% trans %}detail.genderOther{% endtrans %}
            </option>
        </select>
    </div>
{% endif %}{% if ca.birthDate %}
    <div class="form-group">
        <label for="birthDate">{% trans %}detail.birthDate{% endtrans %}:</label>
        <input
            id="birthDate"
            class="form-control form-wide"
            type="date"
            name="birthDate"
            value="{{ personDetails.getBirthDate.format('Y-m-d') ?? 'now - 18 years'|date('Y-m-d') }}"
            required="required"
            onchange="OnBirthDateChange(this)"
        >
    </div>
{% endif %}{% if ca.uploadFile %}
     <div id="uploadFileForm" class="form-group" hidden>
         <label>{% trans %}detail.uploadFile{% endtrans %}:
             <input
                id="uploadFile"
                class="form-control form-group-inline"
                type="file"
                name="uploadFile">
         </label>
         {% if personDetails.getUploadedOriginalFilename %}
             <b>{{ personDetails.getUploadedOriginalFilename }} {% trans%}detail.uploadedFileSuccessful{% endtrans %}</b>
         {% endif %}
         {% trans %}detail.uploadedFileNote{% endtrans %}
     </div>

 {% endif %}{% if ca.supervisor %}
     <div id="supervisorForm" class="form-group" hidden>
         <label>{% trans %}detail.supervisor{% endtrans %}:
             <input
                id="supervisor"
                class="form-control form-wide"
                type="text"
                name="supervisor"
                placeholder="{% trans %}detail.supervisor-placeholder{% endtrans %}">
         </label>
     </div>

 {% endif %}{% if ca.idNumber %}
    <div class="form-group">
        <label for="idNumber">{% trans %}detail.idNumber{% endtrans %}:</label>
        <input
            id="idNumber"
            class="form-control form-wide"
            type="text"
            name="idNumber"
            placeholder="{% trans %}detail.idNumber-placeholder{% endtrans %}"
            value="{{ personDetails.getIdNumber }}"
            required="required"
        >
    </div>
{% endif %}{% if ca.address %}
    <div class="form-group">
        <label for="permanentResidence">{% trans %}detail.address{% endtrans %}:</label>
        <input
            id="permanentResidence"
            class="form-control form-wide"
            type="text"
            name="permanentResidence"
            value="{{ personDetails.getPermanentResidence }}"
            placeholder="{% trans %}detail.addressPlaceholder{% endtrans %}"
            required="required"
        >
    </div>
{% endif %}{% if ca.country %}
    <div class="form-group">
        <label for="country">{% trans %}detail.country{% endtrans %}:</label>
        <select 
            id="country"
            class="form-control form-wide"
            name="country"
        >
            {% for country in event.eventType.getParticipantCountries() %}
                <option 
                    value="{{ country }}"
                    {% if personDetails.getCountry == country %} selected="selected"{% endif %}
                >
                    {{ country | trans }}
                </option>
            {% endfor %}
        </select>
    </div>
{% endif %}{% if ca.email %}
    <div class="form-group">
        <label for="email">{% trans %}detail.email{% endtrans %}:</label>
        <input
            id="email"
            class="form-control form-wide"
            type="email"
            name="email"
            value="{% if personDetails.getEmail is empty and personDetails.role != 'pp' %}{{ user.email }}{% else %}{{ personDetails.getEmail }}{% endif %}"
            placeholder="{% trans %}detail.emailPlaceholder{% endtrans %}"
            required="required"
        >
    </div>
{% endif %}{% if ca.phone %}
    <div class="form-group">
        <label for="telephoneNumber">{% trans %}detail.phone{% endtrans %}:</label>
        <input
            id="telephoneNumber"
            class="form-control form-wide"
            type="text"
            name="telephoneNumber"
            value="{{ personDetails.getTelephoneNumber }}"
            placeholder="{% trans %}detail.phonePlaceholder{% endtrans %}"
            pattern="^\+?[0-9 ]+$"
            required="required"
        >
    </div>
{% endif %}{% if ca.unit %}
    <div class="form-group">
        <label for="scoutUnit">{% trans %}detail.unit{% endtrans %}:</label>
        <input
            id="scoutUnit"
            class="form-control form-wide"
            type="text"
            name="scoutUnit"
            value="{{ personDetails.getScoutUnit }}"
            placeholder="{% trans %}detail.unitPlaceholder{% endtrans %}"
            required="required"
        >
    </div>
{% endif %}{% if ca.tshirt %}
    <div class="form-group">
        <label for="tshirtShape">{% trans %}detail.tshirtGender{% endtrans %}:</label>
        <select id="tshirtShape" class="form-control form-wide" name="tshirtShape" required="required">
            <option value="detail.tshirtGenderFemale"
                    {% if personDetails.getTshirtShape == 'detail.tshirtGenderFemale' %}selected="selected"{% endif %}>
                {% trans %}detail.tshirtGenderFemale{% endtrans %}
            </option>
            <option value="detail.tshirtGenderMale"
                    {% if personDetails.getTshirtShape == 'detail.tshirtGenderMale' %}selected="selected"{% endif %}>
                {% trans %}detail.tshirtGenderMale{% endtrans %}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="tshirtSize">{% trans %}detail.tshirtSize{% endtrans %}:</label>
        <select
            id="tshirtSize"
            class="form-control form-wide"
            name="tshirtSize"
            required="required"
        >
            <option value="detail.tshirtXS" {% if personDetails.getTshirtSize == 'detail.tshirtXS' %}selected="selected"{% endif %}>
                {% trans %}detail.tshirtXS{% endtrans %}
            </option>
            <option value="detail.tshirtS" {% if personDetails.getTshirtSize == 'detail.tshirtS' %}selected="selected"{% endif %}>
                {% trans %}detail.tshirtS{% endtrans %}
            </option>
            <option value="detail.tshirtM" {% if personDetails.getTshirtSize == 'detail.tshirtM' %}selected="selected"{% endif %}>
                {% trans %}detail.tshirtM{% endtrans %}
            </option>
            <option value="detail.tshirtL" {% if personDetails.getTshirtSize == 'detail.tshirtL' %}selected="selected"{% endif %}>
                {% trans %}detail.tshirtL{% endtrans %}
            </option>
            <option value="detail.tshirtXL" {% if personDetails.getTshirtSize == 'detail.tshirtXL' %}selected="selected"{% endif %}>
                {% trans %}detail.tshirtXL{% endtrans %}
            </option>
            <option value="detail.tshirtXXL" {% if personDetails.getTshirtSize == 'detail.tshirtXXL' %}selected="selected"{% endif %}>
                {% trans %}detail.tshirtXXL{% endtrans %}
            </option>
        </select>
    </div>
{% endif %}{% if ca.food %}
    <div class="form-group">
        <label for="foodPreferences">{% trans %}detail.foodHeader{% endtrans %}:</label>
        <select
            id="foodPreferences"
            class="form-control form-wide"
            name="foodPreferences"
            required="required"
        >
            {% for foodOption in event.eventType.getFoodOptions() %}
                <option value="{{ foodOption }}"
                        {% if personDetails.getFoodPreferences == foodOption %}selected="selected"{% endif %}
                >
                    {{ foodOption|trans }}
                </option>
            {% endfor %}
        </select>
    </div>
    {% trans %}detail.food-placeholder{% endtrans %}
    <br><br>
{% endif %}{% if ca.health %}
    <div class="form-group">
        <label for="healthProblems">{% trans %}detail.issues{% endtrans %}:</label>
        <input
            id="healthProblems"
            class="form-control form-wide"
            type="text"
            name="healthProblems"
            placeholder="{% trans %}detail.issues-placeholder{% endtrans %}"
            value="{{ personDetails.getHealthProblems }}"
        >
    </div>
{% endif %}{% if ca.languages %}
    <div class="form-group">
        <label for="languages">{% trans %}detail.language{% endtrans %}:</label>
        <input
            id="languages"
            class="form-control form-wide"
            type="text"
            name="languages"
            placeholder="{% trans %}detail.language-placeholder{% endtrans %}"
            required="required"
            value="{{ personDetails.getLanguages }}"
        >
    </div>
{% endif %}{% if ca.swimming %}
    <div class="form-group">
        <label for="swimming">{% trans %}detail.swimSkill{% endtrans %}:</label>
        <select
            id="swimming"
            class="form-control form-wide"
            name="swimming"
            required="required"
        >
            <option
                value="detail.swimSkillNo"
                {% if personDetails.getSwimming == 'detail.swimSkillNo' %}selected="selected"{% endif %}
            >
                {% trans %}detail.swimSkillNo{% endtrans %}
            </option>
            <option
                value="detail.swimSkillLess50"
                {% if personDetails.getSwimming == 'detail.swimSkillLess50' %}selected="selected"{% endif %}
            >
                {% trans %}detail.swimSkillLess50{% endtrans %}
            </option>
            <option
                value="detail.swimSkillMore50"
                {% if personDetails.getSwimming == 'detail.swimSkillMore50' %}selected="selected"{% endif %}
            >
                {% trans %}detail.swimSkillMore50{% endtrans %}
            </option>
        </select>
    </div>
{% endif %}{% if ca.skills %}
    <div class="form-group">
        <label for="skills">{% trans %}detail.skills{% endtrans %}:</label>
        <input
            id="skills"
            class="form-control form-wide"
            type="text"
            name="skills"
            placeholder="{% trans %}detail.skills-placeholder{% endtrans %}"
            value="{{ personDetails.getSkills }}"
        >
    </div>
{% endif %}{% if ca.preferredPosition %}
    <div class="form-group">
        <label for="position">{% trans %}detail.position-title{% endtrans %}:</label>
        {% set preferredPositions = personDetails.getPreferredPosition %}
        {% for positionOption in event.eventType.getPositionOptions() %}
            <label class="form-control">
                <input type="checkbox" name="preferredPosition[]" value="{{ positionOption }}"
                       {% if positionOption in personDetails.preferredPosition %}checked="checked"{% endif %}>
                {{ positionOption|trans }}
            </label>
        {% endfor %}
    </div>
    {% trans %}detail.position-placeholder{% endtrans %}
    <br>
{% endif %}{% if ca.driver %}
    <div class="form-group">
        <label for="driversLicense">{% trans %}detail.driver{% endtrans %}:</label>
        <select
            id="driversLicense"
            class="form-control form-wide"
            name="driversLicense"
            required="required"
        >
            <option 
                value="dont"
                {% if personDetails.getDriversLicense == 'dont' %}selected="selected"{% endif %}
            >
                {% trans %}detail.driver-dont{% endtrans %}
            </option>
            <option 
                value="less 10000 km"
                {% if personDetails.getDriversLicense == 'less 10000 km' %}selected="selected"{% endif %}
            >
                {% trans %}detail.driver-less10k{% endtrans %}
            </option>
            <option
                value="more 10000 km"
                {% if personDetails.getDriversLicense == 'more 10000 km' %}selected="selected"{% endif %}
            >
                {% trans %}detail.driver-more10k{% endtrans %}
            </option>
        </select>
    </div>
{% endif %}{% if ca.arrivalDate %}
    <div class="form-group">
        <label for="arrivalDate">{% trans %}detail.arrivalDate{% endtrans %}:</label>
        <input
            id="arrivalDate"
            class="form-control"
            type="date"
            name="arrivalDate"
            value="{{ (personDetails.getArrivalDate ?? event.startDay)|date('Y-m-d') }}"
            required="required"
        >
    </div>
{% endif %}{% if ca.departureDate %}
    <div class="form-group">
        <label for="departureDate">{% trans %}detail.departureDate{% endtrans %}:</label>
        <input
            id="departureDate"
            class="form-control"
            type="date"
            name="departureDate"
            value="{{ (personDetails.getDepartureDate ?? event.endDay)|date('Y-m-d') }}"
            required="required"
        >
    </div>
{% endif %}{% if ca.scarf %}
    <div class="form-group">
        <label for="scarf">{% trans %}detail.scarf{% endtrans %}:</label>
        {# TODO: refactor:use checkbox #}
        <select
            id="scarf"
            class="form-control form-wide"
            name="scarf"
        >
            <option value="yes"{% if personDetails.getScarf == 'yes' %} selected="selected"{% endif %}>
                {% trans %}detail.scarfYes{% endtrans %}
            </option>
            <option value="no"{% if personDetails.getScarf == 'no' %} selected="selected"{% endif %}>
                {% trans %}detail.scarfNo{% endtrans %}
            </option>
        </select>
    </div>
{% endif %}{% if ca.notes %}
    <div class="form-group">
        <label for="notes">{% trans %}detail.notice{% endtrans %}:</label>
        <textarea
            id="notes"
            class="form-control form-wide"
            type="text"
            name="notes"
            placeholder="{% trans %}detail.notice-placeholder{% endtrans %}"
        >{{ personDetails.getNotes }}</textarea>
    </div>
{% endif %}
