<h4>{{ person.getFullName }}</h4>
{% if person is PatrolLeader %}
    {{ 'stats-admin.numberPatrolParticipants' | trans }}: <b>{{ person.getPatrolParticipantsCount + 1}}</b><br/>
{% endif %}{% if person is TroopLeader %}
    {{ 'stats-admin.numberPatrolParticipants' | trans }}: <b>{{ person.getTroopParticipantsCount + 1}}</b><br/>
{% endif %}{% if ca.contingent.allowed %}
    {{ 'detail.contingentTitle' | trans }}: <b>{{ person.getContingent|trans }}</b><br/>
{% endif %}{% if ca.email.allowed %}
    {{ 'detail.email' | trans }}: <b>{{ person.getEmail }}</b><br/>
{% elseif person.getUser is not null %}
    {{ 'detail.email' | trans }}: <b>{{ person.getUser.email }}</b><br/>
{% endif %}{% if ca.phone.allowed %}
    {{ 'detail.phone' | trans }}: <b>{{ person.getTelephoneNumber }}</b><br/>
{% endif %}{% if ca.unit.allowed %}
    {{ 'detail.unit' | trans }}: <b>{{ person.getScoutUnit }}</b><br/>
{% endif %}{% if ca.notes.allowed %}
    {{ 'detail.notice' | trans }}: <b>{{ person.getNotes }}</b><br/>
{% endif %}
{% include 'widgets/adminNotice.twig' with {'participantId': person.id} %}<br/>
<a 
    href="{{ url_for('admin-show-role', {'participantId' : person.id, 'eventSlug': event.slug}) }}"
    class="btn btn-small btn-mini"
>
    {{ 'stats-admin.changeRole' | trans }}
</a>
