{#
    Renders a form input field for changeDetails.twig.

    @param item          ContentArbiterItem instance
    @param value         Current field value (from personDetails getter)
    @param personDetails The participant entity (for special-case getters)
    @param event         The event entity (for dates, contingents, food options, etc.)
    @param user          The user entity (for email fallback)
#}
{% macro renderField(item, value, personDetails, event, user) %}
    {% if item.type.value == 'text' or item.type.value == 'phone' %}
        <div class="form-group">
            <label for="{{ item.id }}">{% trans %}{{ item.label }}{% endtrans %}:</label>
            <input
                id="{{ item.id }}"
                class="form-control form-wide"
                type="text"
                name="{{ item.id }}"
                {% if item.placeholder %}placeholder="{% trans %}{{ item.placeholder }}{% endtrans %}"{% endif %}
                value="{{ value }}"
                {% if item.pattern %}pattern="{{ item.pattern }}"{% endif %}
                {% if item.required %}required="required"{% endif %}
            >
        </div>
    {% elseif item.type.value == 'email' %}
        <div class="form-group">
            <label for="{{ item.id }}">{% trans %}{{ item.label }}{% endtrans %}:</label>
            <input
                id="{{ item.id }}"
                class="form-control form-wide"
                type="email"
                name="{{ item.id }}"
                value="{% if value is empty and personDetails.role != 'pp' %}{{ user.email }}{% else %}{{ value }}{% endif %}"
                {% if item.placeholder %}placeholder="{% trans %}{{ item.placeholder }}{% endtrans %}"{% endif %}
                {% if item.required %}required="required"{% endif %}
            >
        </div>
    {% elseif item.type.value == 'date' %}
        <div class="form-group">
            <label for="{{ item.id }}">{% trans %}{{ item.label }}{% endtrans %}:</label>
            <input
                id="{{ item.id }}"
                class="form-control{% if item.id != 'arrivalDate' and item.id != 'departureDate' %} form-wide{% endif %}"
                type="date"
                name="{{ item.id }}"
                value="{% if item.id == 'birthDate' %}{{ value.format('Y-m-d') ?? 'now - 18 years'|date('Y-m-d') }}{% elseif item.id == 'arrivalDate' %}{{ (value ?? event.startDay)|date('Y-m-d') }}{% elseif item.id == 'departureDate' %}{{ (value ?? event.endDay)|date('Y-m-d') }}{% else %}{{ value }}{% endif %}"
                {% if item.required %}required="required"{% endif %}
                {% if item.id == 'birthDate' %}onchange="OnBirthDateChange(this)"{% endif %}
            >
        </div>
    {% elseif item.type.value == 'select' %}
        {% if item.id == 'contingent' or item.id == 'country' or item.id == 'foodPreferences' %}
            <div class="form-group">
                <label for="{{ item.id }}">{% trans %}{{ item.label }}{% endtrans %}:</label>
                <select
                    id="{{ item.id }}"
                    class="form-control form-wide"
                    name="{{ item.id }}"
                    {% if item.required %}required="required"{% endif %}
                >
                    {% for option in item.options %}
                        <option
                            value="{{ option }}"
                            {% if value == option %}selected="selected"{% endif %}
                        >
                            {{ option | trans }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            {% if item.id == 'foodPreferences' %}
                {% trans %}detail.food-placeholder{% endtrans %}
                <br><br>
            {% endif %}
        {% elseif item.id == 'gender' %}
            <div class="form-group">
                <label for="{{ item.id }}">{% trans %}{{ item.label }}{% endtrans %}:</label>
                <select
                    id="{{ item.id }}"
                    class="form-control form-wide"
                    name="{{ item.id }}"
                    {% if item.required %}required="required"{% endif %}
                >
                    <option value="man" {% if value == 'man' %}selected="selected"{% endif %}>
                        {% trans %}detail.genderMan{% endtrans %}
                    </option>
                    <option value="woman" {% if value == 'woman' %}selected="selected"{% endif %}>
                        {% trans %}detail.genderWoman{% endtrans %}
                    </option>
                    <option value="other" {% if value == 'other' %}selected="selected"{% endif %}>
                        {% trans %}detail.genderOther{% endtrans %}
                    </option>
                </select>
            </div>
        {% elseif item.id == 'swimming' %}
            <div class="form-group">
                <label for="{{ item.id }}">{% trans %}{{ item.label }}{% endtrans %}:</label>
                <select
                    id="{{ item.id }}"
                    class="form-control form-wide"
                    name="{{ item.id }}"
                    {% if item.required %}required="required"{% endif %}
                >
                    {% for option in item.options %}
                        <option
                            value="{{ option }}"
                            {% if value == option %}selected="selected"{% endif %}
                        >
                            {% trans %}{{ option }}{% endtrans %}
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% elseif item.id == 'scarf' %}
            <div class="form-group">
                <label for="{{ item.id }}">{% trans %}{{ item.label }}{% endtrans %}:</label>
                <select
                    id="{{ item.id }}"
                    class="form-control form-wide"
                    name="{{ item.id }}"
                >
                    <option value="yes"{% if value == 'yes' %} selected="selected"{% endif %}>
                        {% trans %}detail.scarfYes{% endtrans %}
                    </option>
                    <option value="no"{% if value == 'no' %} selected="selected"{% endif %}>
                        {% trans %}detail.scarfNo{% endtrans %}
                    </option>
                </select>
            </div>
        {% elseif item.id == 'driversLicense' %}
            <div class="form-group">
                <label for="{{ item.id }}">{% trans %}{{ item.label }}{% endtrans %}:</label>
                <select
                    id="{{ item.id }}"
                    class="form-control form-wide"
                    name="{{ item.id }}"
                    {% if item.required %}required="required"{% endif %}
                >
                    <option
                        value="dont"
                        {% if value == 'dont' %}selected="selected"{% endif %}
                    >
                        {% trans %}detail.driver-dont{% endtrans %}
                    </option>
                    <option
                        value="less 10000 km"
                        {% if value == 'less 10000 km' %}selected="selected"{% endif %}
                    >
                        {% trans %}detail.driver-less10k{% endtrans %}
                    </option>
                    <option
                        value="more 10000 km"
                        {% if value == 'more 10000 km' %}selected="selected"{% endif %}
                    >
                        {% trans %}detail.driver-more10k{% endtrans %}
                    </option>
                </select>
            </div>
        {% else %}
            {# Generic select with options from item.options (values are translation keys) #}
            <div class="form-group">
                <label for="{{ item.id }}">{% trans %}{{ item.label }}{% endtrans %}:</label>
                <select
                    id="{{ item.id }}"
                    class="form-control form-wide"
                    name="{{ item.id }}"
                    {% if item.required %}required="required"{% endif %}
                >
                    {% for option in item.options %}
                        <option
                            value="{{ option }}"
                            {% if value == option %}selected="selected"{% endif %}
                        >
                            {{ option | trans }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    {% elseif item.type.value == 'textarea' %}
        <div class="form-group">
            <label for="{{ item.id }}">{% trans %}{{ item.label }}{% endtrans %}:</label>
            <textarea
                id="{{ item.id }}"
                class="form-control form-wide"
                type="text"
                name="{{ item.id }}"
                {% if item.placeholder %}placeholder="{% trans %}{{ item.placeholder }}{% endtrans %}"{% endif %}
            >{{ value }}</textarea>
        </div>
    {% elseif item.type.value == 'file' %}
        <div id="uploadFileForm" class="form-group" hidden>
            <label>{% trans %}{{ item.label }}{% endtrans %}:
                <input id="uploadFile" class="form-control form-group-inline" type="file" name="uploadFile"
                        {% if not personDetails.getUploadedFilename %} {% endif %}>
            </label>
            {% if personDetails.getUploadedOriginalFilename %}
                <b>{{ personDetails.getUploadedOriginalFilename }} {% trans %}detail.uploadedFileSuccessful{% endtrans %}</b>
            {% endif %}
            {% trans %}detail.uploadedFileNote{% endtrans %}
        </div>
    {% elseif item.type.value == 'checkbox' %}
        {% if item.id == 'preferredPosition' %}
            <div class="form-group">
                <label for="position">{% trans %}detail.position-title{% endtrans %}:</label>
                {% for positionOption in item.options %}
                    <label class="form-control">
                        <input type="checkbox" name="preferredPosition[]" value="{{ positionOption }}"
                               {% if positionOption in personDetails.preferredPosition %}checked="checked"{% endif %}>
                        {{ positionOption|trans }}
                    </label>
                {% endfor %}
            </div>
            {% trans %}detail.position-placeholder{% endtrans %}
            <br>
        {% elseif item.id == 'printedHandbook' %}
            <div class="form-group">
                <label for="{{ item.id }}">{% trans %}detail.printedHandbook-detail{% endtrans %}: </label>
                <input
                        id="{{ item.id }}"
                        type="checkbox"
                        name="{{ item.id }}"
                        value="yes"
                        {% if personDetails.getPrintedHandbook %} checked{% endif %}
                >
            </div>
        {% else %}
            <div class="form-group">
                <label for="{{ item.id }}">{% trans %}{{ item.label }}{% endtrans %}:</label>
                <input
                    id="{{ item.id }}"
                    type="checkbox"
                    name="{{ item.id }}"
                    value="yes"
                    {% if value %} checked{% endif %}
                >
            </div>
        {% endif %}
    {% elseif item.type.value == 'tshirtComposite' %}
        <div class="form-group">
            <label for="tshirtShape">{% trans %}detail.tshirtGender{% endtrans %}:</label>
            <select id="tshirtShape" class="form-control form-wide" name="tshirtShape" required="required">
                <option value="detail.tshirtGenderFemale"
                        {% if personDetails.getTshirtShape == 'detail.tshirtGenderFemale' %}selected="selected"{% endif %}>
                    {% trans %}detail.tshirtGenderFemale{% endtrans %}
                </option>
                <option value="detail.tshirtGenderMale"
                        {% if personDetails.getTshirtShape == 'detail.tshirtGenderMale' %}selected="selected"{% endif %}>
                    {% trans %}detail.tshirtGenderMale{% endtrans %}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="tshirtSize">{% trans %}detail.tshirtSize{% endtrans %}:</label>
            <select
                id="tshirtSize"
                class="form-control form-wide"
                name="tshirtSize"
                required="required"
            >
                <option value="detail.tshirtXS" {% if personDetails.getTshirtSize == 'detail.tshirtXS' %}selected="selected"{% endif %}>
                    {% trans %}detail.tshirtXS{% endtrans %}
                </option>
                <option value="detail.tshirtS" {% if personDetails.getTshirtSize == 'detail.tshirtS' %}selected="selected"{% endif %}>
                    {% trans %}detail.tshirtS{% endtrans %}
                </option>
                <option value="detail.tshirtM" {% if personDetails.getTshirtSize == 'detail.tshirtM' %}selected="selected"{% endif %}>
                    {% trans %}detail.tshirtM{% endtrans %}
                </option>
                <option value="detail.tshirtL" {% if personDetails.getTshirtSize == 'detail.tshirtL' %}selected="selected"{% endif %}>
                    {% trans %}detail.tshirtL{% endtrans %}
                </option>
                <option value="detail.tshirtXL" {% if personDetails.getTshirtSize == 'detail.tshirtXL' %}selected="selected"{% endif %}>
                    {% trans %}detail.tshirtXL{% endtrans %}
                </option>
                <option value="detail.tshirtXXL" {% if personDetails.getTshirtSize == 'detail.tshirtXXL' %}selected="selected"{% endif %}>
                    {% trans %}detail.tshirtXXL{% endtrans %}
                </option>
            </select>
        </div>
    {% endif %}
{% endmacro %}

{#
    Renders a read-only detail display for details.twig.

    @param item   ContentArbiterItem instance
    @param value  Current field value (from person getter)
    @param person The participant entity
    @param event  The event entity (for upload file admin link)
#}
{% macro renderDetail(item, value, person, event) %}
    {% if item.type.value == 'tshirtComposite' %}
        {% trans %}{{ item.label }}{% endtrans %}: <b>{{ person.getTshirtShape|trans }} - {{ person.getTshirtSize|trans }}</b><br/>
    {% elseif item.id == 'gender' %}
        {% trans %}{{ item.label }}{% endtrans %}: <b>
        {% if value == 'man' %}
            {% trans %}detail.genderMan{% endtrans %}
        {% elseif value == 'woman' %}
            {% trans %}detail.genderWoman{% endtrans %}
        {% elseif value == 'other' %}
            {% trans %}detail.genderOther{% endtrans %}
        {% endif %}</b><br/>
    {% elseif item.id == 'scarf' %}
        {% trans %}{{ item.label }}{% endtrans %}: <b>
            {% if value == 'yes' %}
                {% trans %}detail.scarfYes{% endtrans %}
            {% elseif value == 'no' %}
                {% trans %}detail.scarfNo{% endtrans %}
            {% endif %}</b><br/>
    {% elseif item.id == 'birthDate' %}
        {% trans %}{{ item.label }}{% endtrans %}: <b>{{ value.format('d. m. Y') }}</b>
            {% if value %}
                ({{ person.getAgeAtStartOfEvent }} {% trans %}detail.birthDateYearsAtEvent{% endtrans %})
            {% endif %}<br/>
    {% elseif item.id == 'arrivalDate' or item.id == 'departureDate' %}
        {% trans %}{{ item.label }}{% endtrans %}: <b>{{ value.format('d. m. Y') }}</b><br/>
    {% elseif item.id == 'preferredPosition' %}
        {% trans %}detail.position-title{% endtrans %}: <b>
            {% for preferredPosition in person.preferredPosition %}
                {{ preferredPosition|trans }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </b><br/>
    {% elseif item.id == 'printedHandbook' %}
        {% trans %}{{ item.label }}{% endtrans %}: <b>
            {% if value %}{% trans %}detail.handbook-yes{% endtrans %}{% else %}{% trans %}detail.handbook-no{% endtrans %}{% endif %}</b><br/>
    {% elseif item.id == 'uploadFile' %}
        {% if person.getAgeAtStartOfEvent < 18 %}
            {% trans %}{{ item.label }}{% endtrans %}:
            {% if person.getUploadedFilename %}
                <a target="_blank"
                   href="{{ url_for('admin-show-file', {'filename': person.getUploadedFilename, 'eventSlug': event.slug}) }}">
                    {{ person.getUploadedOriginalFilename }}
                </a>
            {% else %}
                {{ 'detail.uploadFileMissing'|trans }}
            {% endif %}<br/>
        {% endif %}
    {% elseif item.id == 'contingent' or item.id == 'country' or item.id == 'foodPreferences' %}
        {% trans %}{{ item.label }}{% endtrans %}: <b>{{ value|trans }}</b><br/>
    {% elseif item.type.value == 'select' and item.id == 'swimming' %}
        {% trans %}{{ item.label }}{% endtrans %}: <b>{{ value|trans }}</b><br/>
    {% elseif item.type.value == 'select' and item.id == 'driversLicense' %}
        {% trans %}{{ item.label }}{% endtrans %}: <b>{{ value }}</b><br/>
    {% else %}
        {% trans %}{{ item.label }}{% endtrans %}: <b>{{ value }}</b><br/>
    {% endif %}
{% endmacro %}
