{#
    Renders a form input field for changeDetails.twig.

    @param item          ContentArbiterItem instance
    @param value         Current field value (from personDetails getter)
    @param personDetails The participant entity (for special-case getters)
    @param event         The event entity (for dates, contingents, food options, etc.)
    @param user          The user entity (for email fallback)
#}
{% macro renderField(item, value, personDetails, event, user) %}
    {% if item.type.value == 'text' or item.type.value == 'phone' %}
        <div class="form-group">
            <label for="{{ item.id }}">{{ item.label|trans }}:</label>
            <input
                id="{{ item.id }}"
                class="form-control form-wide"
                type="text"
                name="{{ item.id }}"
                {% if item.placeholder %}placeholder="{{ item.placeholder|trans }}"{% endif %}
                value="{{ value }}"
                {% if item.pattern %}pattern="{{ item.pattern }}"{% endif %}
                {% if item.required %}required="required"{% endif %}
            >
        </div>
    {% elseif item.type.value == 'email' %}
        <div class="form-group">
            <label for="{{ item.id }}">{{ item.label|trans }}:</label>
            <input
                id="{{ item.id }}"
                class="form-control form-wide"
                type="email"
                name="{{ item.id }}"
                value="{% if value is empty and personDetails.role != 'pp' %}{{ user.email }}{% else %}{{ value }}{% endif %}"
                {% if item.placeholder %}placeholder="{{ item.placeholder|trans }}"{% endif %}
                {% if item.required %}required="required"{% endif %}
            >
        </div>
    {% elseif item.type.value == 'date' %}
        <div class="form-group">
            <label for="{{ item.id }}">{{ item.label|trans }}:</label>
            <input
                id="{{ item.id }}"
                class="form-control{% if item.id != 'arrivalDate' and item.id != 'departureDate' %} form-wide{% endif %}"
                type="date"
                name="{{ item.id }}"
                value="{% if item.id == 'birthDate' %}{% if value %}{{ value.format('Y-m-d') }}{% else %}{{ 'now - 18 years'|date('Y-m-d') }}{% endif %}{% elseif item.id == 'arrivalDate' %}{{ (value ?? event.startDay)|date('Y-m-d') }}{% elseif item.id == 'departureDate' %}{{ (value ?? event.endDay)|date('Y-m-d') }}{% else %}{{ value }}{% endif %}"
                {% if item.required %}required="required"{% endif %}
                {% if item.id == 'birthDate' %}onchange="OnBirthDateChange(this)"{% endif %}
            >
        </div>
    {% elseif item.type.value == 'select' %}
        <div class="form-group">
            <label for="{{ item.id }}">{{ item.label|trans }}:</label>
            <select
                id="{{ item.id }}"
                class="form-control form-wide"
                name="{{ item.id }}"
                {% if item.required %}required="required"{% endif %}
            >
                {% for dbValue, transKey in item.options %}
                    <option
                        value="{{ dbValue }}"
                        {% if value == dbValue %}selected="selected"{% endif %}
                    >
                        {{ transKey|trans }}
                    </option>
                {% endfor %}
            </select>
        </div>
        {% if item.id == 'foodPreferences' %}
            {% trans %}detail.food-placeholder{% endtrans %}
            <br><br>
        {% endif %}
    {% elseif item.type.value == 'textarea' %}
        <div class="form-group">
            <label for="{{ item.id }}">{{ item.label|trans }}:</label>
            <textarea
                id="{{ item.id }}"
                class="form-control form-wide"
                type="text"
                name="{{ item.id }}"
                {% if item.placeholder %}placeholder="{{ item.placeholder|trans }}"{% endif %}
            >{{ value }}</textarea>
        </div>
    {% elseif item.type.value == 'file' %}
        <div id="uploadFileForm" class="form-group" hidden>
            <label>{{ item.label|trans }}:
                <input id="uploadFile" class="form-control form-group-inline" type="file" name="uploadFile"
                        {% if not personDetails.getUploadedFilename %} {% endif %}>
            </label>
            {% if personDetails.getUploadedOriginalFilename %}
                <b>{{ personDetails.getUploadedOriginalFilename }} {% trans %}detail.uploadedFileSuccessful{% endtrans %}</b>
            {% endif %}
            {% trans %}detail.uploadedFileNote{% endtrans %}
        </div>
    {% elseif item.type.value == 'checkbox' %}
        {% if item.id == 'preferredPosition' %}
            <div class="form-group">
                <label for="position">{% trans %}detail.position-title{% endtrans %}:</label>
                {% for dbValue, transKey in item.options %}
                    <label class="form-control">
                        <input type="checkbox" name="preferredPosition[]" value="{{ dbValue }}"
                               {% if dbValue in personDetails.preferredPosition %}checked="checked"{% endif %}>
                        {{ transKey|trans }}
                    </label>
                {% endfor %}
            </div>
            {% trans %}detail.position-placeholder{% endtrans %}
            <br>
        {% elseif item.id == 'printedHandbook' %}
            <div class="form-group">
                <label for="{{ item.id }}">{% trans %}detail.printedHandbook-detail{% endtrans %}: </label>
                <input
                        id="{{ item.id }}"
                        type="checkbox"
                        name="{{ item.id }}"
                        value="yes"
                        {% if personDetails.getPrintedHandbook %} checked{% endif %}
                >
            </div>
        {% else %}
            <div class="form-group">
                <label for="{{ item.id }}">{{ item.label|trans }}:</label>
                <input
                    id="{{ item.id }}"
                    type="checkbox"
                    name="{{ item.id }}"
                    value="yes"
                    {% if value %} checked{% endif %}
                >
            </div>
        {% endif %}
    {% elseif item.type.value == 'tshirtComposite' %}
        <div class="form-group">
            <label for="tshirtShape">{% trans %}detail.tshirtGender{% endtrans %}:</label>
            <select id="tshirtShape" class="form-control form-wide" name="tshirtShape" required="required">
                <option value="detail.tshirtGenderFemale"
                        {% if personDetails.getTshirtShape == 'detail.tshirtGenderFemale' %}selected="selected"{% endif %}>
                    {% trans %}detail.tshirtGenderFemale{% endtrans %}
                </option>
                <option value="detail.tshirtGenderMale"
                        {% if personDetails.getTshirtShape == 'detail.tshirtGenderMale' %}selected="selected"{% endif %}>
                    {% trans %}detail.tshirtGenderMale{% endtrans %}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="tshirtSize">{% trans %}detail.tshirtSize{% endtrans %}:</label>
            <select
                id="tshirtSize"
                class="form-control form-wide"
                name="tshirtSize"
                required="required"
            >
                <option value="detail.tshirtXS" {% if personDetails.getTshirtSize == 'detail.tshirtXS' %}selected="selected"{% endif %}>
                    {% trans %}detail.tshirtXS{% endtrans %}
                </option>
                <option value="detail.tshirtS" {% if personDetails.getTshirtSize == 'detail.tshirtS' %}selected="selected"{% endif %}>
                    {% trans %}detail.tshirtS{% endtrans %}
                </option>
                <option value="detail.tshirtM" {% if personDetails.getTshirtSize == 'detail.tshirtM' %}selected="selected"{% endif %}>
                    {% trans %}detail.tshirtM{% endtrans %}
                </option>
                <option value="detail.tshirtL" {% if personDetails.getTshirtSize == 'detail.tshirtL' %}selected="selected"{% endif %}>
                    {% trans %}detail.tshirtL{% endtrans %}
                </option>
                <option value="detail.tshirtXL" {% if personDetails.getTshirtSize == 'detail.tshirtXL' %}selected="selected"{% endif %}>
                    {% trans %}detail.tshirtXL{% endtrans %}
                </option>
                <option value="detail.tshirtXXL" {% if personDetails.getTshirtSize == 'detail.tshirtXXL' %}selected="selected"{% endif %}>
                    {% trans %}detail.tshirtXXL{% endtrans %}
                </option>
            </select>
        </div>
    {% endif %}
{% endmacro %}

{#
    Renders a read-only detail display for details.twig.

    @param item   ContentArbiterItem instance
    @param value  Current field value (from person getter)
    @param person The participant entity
    @param event  The event entity (for upload file admin link)
#}
{% macro renderDetail(item, value, person, event) %}
    {% if item.type.value == 'tshirtComposite' %}
        {{ item.label|trans }}: <b>{% if person.getTshirtShape %}{{ person.getTshirtShape|trans }} - {{ person.getTshirtSize|trans }}{% endif %}</b><br/>
    {% elseif item.type.value == 'select' %}
        {{ item.label|trans }}: <b>{% if value and item.options[value] is defined %}{{ item.options[value]|trans }}{% elseif value %}{{ value }}{% endif %}</b><br/>
    {% elseif item.id == 'birthDate' %}
        {{ item.label|trans }}: <b>{% if value %}{{ value.format('d. m. Y') }}{% endif %}</b>
            {% if value %}
                ({{ person.getAgeAtStartOfEvent }} {% trans %}detail.birthDateYearsAtEvent{% endtrans %})
            {% endif %}<br/>
    {% elseif item.id == 'arrivalDate' or item.id == 'departureDate' %}
        {{ item.label|trans }}: <b>{% if value %}{{ value.format('d. m. Y') }}{% endif %}</b><br/>
    {% elseif item.id == 'preferredPosition' %}
        {% trans %}detail.position-title{% endtrans %}: <b>
            {% for preferredPosition in person.preferredPosition %}
                {{ preferredPosition|trans }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </b><br/>
    {% elseif item.id == 'printedHandbook' %}
        {{ item.label|trans }}: <b>
            {% if value %}{% trans %}detail.handbook-yes{% endtrans %}{% else %}{% trans %}detail.handbook-no{% endtrans %}{% endif %}</b><br/>
    {% elseif item.id == 'uploadFile' %}
        {% if person.getAgeAtStartOfEvent < 18 %}
            {{ item.label|trans }}:
            {% if person.getUploadedFilename %}
                <a target="_blank"
                   href="{{ url_for('admin-show-file', {'filename': person.getUploadedFilename, 'eventSlug': event.slug}) }}">
                    {{ person.getUploadedOriginalFilename }}
                </a>
            {% else %}
                {{ 'detail.uploadFileMissing'|trans }}
            {% endif %}<br/>
        {% endif %}
    {% else %}
        {{ item.label|trans }}: <b>{{ value }}</b><br/>
    {% endif %}
{% endmacro %}
