<b>{{ person.getFullName }}</b>
{% if person is PatrolLeader %}
    - {{ person.getPatrolParticipantsCount }} {% trans %}stats-admin.numberPatrolParticipantsTotal{% endtrans %}
{% elseif person is TroopLeader %}
    - {{ person.getTroopParticipantsCount }} {% trans %}stats-admin.numberPatrolParticipantsTotal{% endtrans %}
{% endif %}
{% if ca.contingent %}
    - <b>{{ person.getContingent|trans }}</b>
{% endif %}
{% if ca.email %}
    - {{ person.getEmail }}
{% elseif person.user %}
    - {{ person.user.email }}
{% endif %}

<a
    href="{{ url_for('admin-show-participant-details-changeable', {'eventSlug': event.slug, 'participantId': person.id}) }}"
    class="btn btn-mini">
    {% trans %}dashboard-admin.editParticipant{% endtrans %}
</a>

{# draw all patrol or troop participants on their separate rows #}
{% if person is PatrolLeader %}
    {% for patrolParticipant in person.patrolParticipants %}
        <br/>{% include 'widgets/participantRow.twig' with {'person': patrolParticipant, 'ca': caPp} %}
    {% endfor %}
    <br/>
{% elseif person is TroopLeader %}
    {% for troopParticipant in person.troopParticipants %}
        <br/>{% include 'widgets/participantRow.twig' with {'person': troopParticipant, 'ca': caTp} %}
    {% endfor %}
    <br/>
{% endif %}
