{% for payment in payments %}
    <div class="payment{% if payment.status.value == 'canceled' %} payment-cancelled{% endif %}">
        {{ 'payments-admin.status' | trans }}: <b>{{ ('dashboard.paymentStatus.' ~ payment.status.value)|trans }}</b><br/>
        {{ 'payments-admin.paymentWas' | trans }}: <b>{{ payment.due.format('d. m. Y') }}</b>
        {% if payment.status.value != 'canceled' and payment.status.value != 'paid' %}
            (<span class="{% if payment.isPaymentOverdue %}overdue{% endif %}"><b>{{ payment.getRemainingDays|abs }}</b>
                {% if payment.isPaymentOverdue %}{{ 'payments-admin.daysAfterDeadline' | trans }}{% else %}{{ 'payments-admin.daysBeforeDeadline' | trans }}{% endif %}</span>)
        {% endif %}<br/>
        {{ 'payments-admin.variableSymbol' | trans }}: <b>{{ payment.variableSymbol }}</b><br/>
        {{ 'payments-admin.amount' | trans }}: <b>{{ payment.price }} {{ payment.currency }}</b><br/>
        {{ 'payments-admin.note' | trans }}: <b>{{ payment.note }}</b><br/>
        {% if payment.getPaidAt %}
            {{ 'detail.paid-at' | trans }}: <b>{{ payment.getPaidAt.format('d. m. Y, H:i:s') }}</b><br/>
        {% endif %}
        <br/>
        {% if payment.status.value == 'waiting' %}
            <a href="{{ url_for('admin-cancel-payment-show',
                {'paymentId': payment.id, 'eventSlug': event.slug}) }}"
               class="btn btn-grey btn-small">{{ 'payments-admin.cancel' | trans }}</a>
            <br/>
            <br/>
            <a href="{{ url_for('admin-show-change-payment-price',
                {'paymentId': payment.id, 'eventSlug': event.slug}) }}"
               class="btn btn-grey btn-small">{{ 'payments-admin.changePrice' | trans }}</a>
            <br/>
            <br/>
            <form method="post"
                  action="{{ url_for('admin-confirm-payment', {'paymentId': payment.id, 'eventSlug': event.slug}) }}"
                  class="js-ajax-submit"
                  data-ajax-action="{{ url_for('admin-confirm-payment-json', {'paymentId': payment.id, 'eventSlug': event.slug}) }}"
                  data-remove-target=".payment"
                  data-error-fallback="{{ 'flash.error.actionFailed' | trans }}">
                <input type="submit"
                       value="{{ 'payments-admin.confirm' | trans }}"
                       class="btn btn-small">
            </form><br/>
        {% endif %}
    </div>
{% endfor %}
