<h4>
    {% set userRole = person.getRole.value %}
    {% if userStatus == 'open' %}
        {% if userRole == 'pl' %}
            {{ 'userCustomHelp.statusOpenPl' | trans }}
        {% elseif userRole == 'tl' %}
            {{ 'userCustomHelp.statusOpenTl' | trans }}
        {% elseif userRole == 'tp' %}
            {{ 'userCustomHelp.statusOpenTp' | trans }}
        {% endif %}
    {% elseif userStatus == 'closed' %}
        {% if userRole == 'guest' %}
            {{ 'userCustomHelp.statusClosedGuest' | trans }} <a
                href="mailto:{{ event.getContactEmail }}">{{ event.getContactEmail }}</a>
        {% else %}
            {{ 'userCustomHelp.statusClosed' | trans }} <a
                href="mailto:{{ event.getContactEmail }}">{{ event.getContactEmail }}</a>
        {% endif %}
    {% elseif userStatus == 'approved' %}
        {% if userRole == 'tp' %}
            {{ 'userCustomHelp.statusApprovedTp' | trans }}
        {% else %}
            {{ 'userCustomHelp.statusApproved' | trans }}
        {% endif %}
    {% elseif userStatus == 'paid' %}
        {% if userRole == 'guest' %}
            {{ 'userCustomHelp.statusPaidGuest' | trans({'%event.getReadableName%': event.getReadableName}) }}
        {% else %}
            {{ 'userCustomHelp.statusPaid' | trans({'%event.getReadableName%': event.getReadableName}) }}
        {% endif %}
    {% endif %}
</h4>

{% if person.getPayments %}
    <h2>{{ 'dashboard.paymentInfo' | trans }}</h2>
    {% for payment in person.getPayments %}
        <div class="payment{% if payment.status.value == 'canceled' %} payment-cancelled{% endif %}">
            {{ 'dashboard.paymentStatusTitle' | trans }}: <b>
                {{ ('dashboard.paymentStatus.' ~ payment.status.value)|trans }}
            </b><br/>
            {% if event.eventtype.showIban %}
                {{ 'dashboard.iban' | trans }}: <b>{{ payment.getIban }}</b><br/>
            {% endif %}
            {% if payment.swift %}
                {{ 'dashboard.swift' | trans }}: <b>{{ payment.swift }}</b><br/>
            {% endif %}
            {{ 'dashboard.accountNumber' | trans }}: <b>{{ payment.getAccountNumber }}</b><br/>
            {{ 'dashboard.amount' | trans }}: <b>{{ payment.getPrice }} {{ payment.currency }}</b>
            <br/>
            {{ 'dashboard.variableSymbol' | trans }}: <b>{{ payment.getVariableSymbol }}</b><br/>
            {% if payment.constantSymbol %}
                {{ 'dashboard.constantSymbol' | trans }}: <b>{{ payment.constantSymbol }}</b><br/>
            {% endif %}
            {{ 'dashboard.paymentNote' | trans }}: <b>{{ payment.getNote }}</b><br/>
            <br/>
        </div>
    {% endfor %}
{% endif %}
