<h4>
    {% set userRole = person.getRole.value %}
    {% if userStatus == 'open' %}
        {% if userRole == 'pl' %}
            {% trans %}userCustomHelp.statusOpenPl{% endtrans %}
        {% elseif userRole == 'tl' %}
            {% trans %}userCustomHelp.statusOpenTl{% endtrans %}
        {% elseif userRole == 'tp' %}
            {% trans %}userCustomHelp.statusOpenTp{% endtrans %}
        {% endif %}
    {% elseif userStatus == 'closed' %}
        {% if userRole == 'guest' %}
            {% trans %}userCustomHelp.statusClosedGuest{% endtrans %} <a
                href="mailto:{{ event.getContactEmail }}">{{ event.getContactEmail }}</a>
        {% else %}
            {% trans %}userCustomHelp.statusClosed{% endtrans %} <a
                href="mailto:{{ event.getContactEmail }}">{{ event.getContactEmail }}</a>
        {% endif %}
    {% elseif userStatus == 'approved' %}
        {% trans %}userCustomHelp.statusApproved{% endtrans %}
    {% elseif userStatus == 'paid' %}
        {% if userRole == 'guest' %}
            {% trans with {'%event.getReadableName%': event.getReadableName} %}userCustomHelp.statusPaidGuest{% endtrans %}
        {% else %}
            {% trans with {'%event.getReadableName%': event.getReadableName} %}userCustomHelp.statusPaid{% endtrans %}
        {% endif %}
    {% endif %}
</h4>

{% if person.getPayments %}
    {% if person.getContingent() is null or person.getContingent() == 'detail.contingent.czechia' %}
        <h2>{% trans %}dashboard.paymentInfo{% endtrans %}</h2>
        {% for payment in person.getPayments %}
            <div class="payment{% if payment.status.value == 'canceled' %} payment-overdue{% endif %}">
                {% trans %}dashboard.paymentStatusTitle{% endtrans %}: <b>
                    {{ ('dashboard.paymentStatus.' ~ payment.status.value)|trans }}
                </b><br/>
                {% trans %}dashboard.accountNumber{% endtrans %}: <b>{{ payment.getAccountNumber }}</b><br/>
                {% trans %}dashboard.amount{% endtrans %}: <b>{{ payment.getPrice }} {{ payment.currency }}</b>
                <br/>
                {% trans %}dashboard.variableSymbol{% endtrans %}: <b>{{ payment.getVariableSymbol }}</b><br/>
                {% trans %}dashboard.paymentNote{% endtrans %}: <b>{{ payment.getNote }}</b><br/>
                <br/>
            </div>
        {% endfor %}
    {% endif %}
{% endif %}
